@font-face {
    font-family: 'bitrefill';
    src: url('/static/bitrefill.f966d054.ttf');
    font-display: swap;
}

body {
    box-sizing: border-box;
    margin: 0;
    background-color: #FFFFFF;
    color: #1D232B;
    font-family: bitrefill, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.l-1vm6o2n {
    min-height: 70vh;
    text-align: left;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
}.l-1yfombv--1 {
    background: rgb(255, 255, 255);
}.l-lqxlj7 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1170px;
    margin: 0px auto;
    padding: 0px 16px;
}.l-9416li {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 14px 0px;
    overflow: hidden;
}.l-9416li a {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}.l-1w0jv0m--1 {
    display: flex;
    padding-left: 0px;
}.l-m9k1dx {
    margin-left: 24px;
    list-style-type: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}.l-4rgqac {
    color: rgb(249, 250, 251);
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    display: block;
    margin-right: 9px;
    font-weight: 700;
    font-size: 9px;
    text-align: center;
    line-height: 1.7;
    background: rgb(69, 155, 247);
    flex: 0 0 15px;
    border-radius: 50%;
}.l-sf5iph--1--1 {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.5;
    font-size: 14px;
    color: rgb(69, 155, 247);
    padding: 0px;
}.l-8mmavk--1 {
    margin-left: 24px;
}.l-1ii8ot7 {
    margin-left: 24px;
    list-style-type: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    cursor: auto;
}.l-4rgqac {
    color: rgb(249, 250, 251);
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    display: block;
    margin-right: 9px;
    font-weight: 700;
    font-size: 9px;
    text-align: center;
    line-height: 1.7;
    background: rgb(69, 155, 247);
    flex: 0 0 15px;
    border-radius: 50%;
}.l-sf5iph--1--1 {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.5;
    font-size: 14px;
    color: rgb(69, 155, 247);
    padding: 0px;
}.l-8mmavk--1 {
    margin-left: 24px;
}
.l-znurzd {
    padding-top: 24px;
    padding-bottom: 30px;
    min-height: calc(100vh - 64px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px inset, rgba(0, 0, 0, 0.06) 0px 1px 4px inset;
    background: rgb(249, 250, 251);
}.l-7uxhm3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1170px;
    margin: 0px auto;
    padding: 0px 16px;
}.l-tb9nta--1 {
    position: relative;
    display: grid;
    grid-template-columns: minmax(min-content, 400px) 1fr;
    width: 100%;
    gap: 32px;
}.l-phv52b {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
}.l-phv52b h2 {
    margin: 0px 0px 16px;
}
.l-1dr8rbk--1 {
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 1.4;
    font-size: 20px;
    color: rgb(29, 35, 43);
    padding: 0px;
}
.l-158u5xj--1 {
    margin-bottom: 13px;
    font-weight: 500;
}.l-1y9bx72 {
    color: rgb(90, 111, 135);
    font-size: 15px;
    margin: 0px 0px 5px;
}.l-1vt5a71--1--1 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}.l-1wkbrq0 {
    color: rgb(9, 114, 225);
    white-space: nowrap;
    text-align: right;
    cursor: pointer;
    margin-left: 14px;
}.l-qc8e2m--1--1--1 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
}.l-1j6az3q {
    margin-top: 16px;
    margin-bottom: 16px;
    border-right-width: initial;
    border-bottom-width: initial;
    border-left-width: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    width: 100%;
    border-style: solid none none;
    border-image: initial;
    border-top: 1px solid rgb(240, 242, 245);
}.l-1j5q9vf {
    text-align: left;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}.l-1iyoj2o {
    display: flex;
    flex-direction: column;
}.l-vj4kk0 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}.l-jwtvmq--1--1 {
    line-height: 1.25;
    font-size: 24px;
    color: rgb(29, 35, 43);
    padding: 0px;
    margin: 0px 0px 16px;
}.l-2geg7c {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}.l-16oohyw--1 {
    display: flex;
    flex-direction: column;
    max-width: 736px;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 3px, rgba(0, 0, 0, 0.1) 0px 1px 2px;
    background-color: white !important;
    padding: 16px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 12px;
    transition: box-shadow 0.3s ease 0s;
    margin: 0px auto 12px;
}.l-3u67s5--1 {
    position: relative;
}.l-fpfhl1 {
    position: relative;
    font-size: 15px;
    width: 100%;
    color: rgb(29, 35, 43);
    margin: 0px 0px 10px;
}.l-grzrk7 {
    font-size: 0.9em;
    margin-bottom: 5px;
    display: block;
    transition: opacity 0.6s ease 0.3s;
}.l-1oupn8s {
    font-size: 0.9em;
    margin-bottom: 5px;
    display: none;
    transition: opacity 0.6s ease 0s;
}.l-ftqphp {
    width: 100%;
    margin-top: 4px;
    cursor: pointer;
    font-size: 15px;
    font-family: monospace;
    color: rgb(29, 35, 43);
    background-color: rgb(240, 242, 245);
    line-height: 1.15;
    text-align: left;
    letter-spacing: 0px;
    padding: 8px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(203, 211, 220);
    border-image: initial;
    border-radius: 4px;
}.l-x10c0s--3 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 40px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
    background-color: rgb(69, 155, 247);
    border-radius: 4px;
    margin: 8px 0px;
    padding: 6px 14px;
    text-decoration: none;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    transition: background-color 0.1s ease 0s, color 0.1s ease 0s;
}.l-sv66i2 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 40px;
    font-size: 14px;
    color: rgb(69, 155, 247);
    text-align: center;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
    background-color: transparent;
    min-width: 100%;
    border-radius: 4px;
    margin: 8px 0px;
    padding: 6px 14px;
    text-decoration: none;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(69, 155, 247);
    border-image: initial;
    transition: background-color 0.1s ease 0s, color 0.1s ease 0s;
}.l-hnb606 {
    min-width: 37px;
    display: inline-block;
}.l-1uj6g8c--3 {
    margin-right: 5px;
}.l-wmhbqs {
    fill: none;
    stroke: rgb(69, 155, 247);
    stroke-linecap: round;
    stroke-linejoin: round;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: stroke-dashoffset;
}.l-269e4n {
    fill: none;
    stroke: rgb(240, 242, 245);
}.l-wmhbqs {
    fill: none;
    stroke: rgb(69, 155, 247);
    stroke-linecap: round;
    stroke-linejoin: round;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: stroke-dashoffset;
}
:not(svg) {
    transform-origin: 0px 0px;
}.l-zyef45 {
    color: rgb(29, 35, 43);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
@media (min-width: 479px)
{
.l-gx3uvr--3 {
    display: none !important;
}}
.l-x10c0s--3 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 40px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
    background-color: rgb(69, 155, 247);
    border-radius: 4px;
    margin: 8px 0px;
    padding: 6px 14px;
    text-decoration: none;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    transition: background-color 0.1s ease 0s, color 0.1s ease 0s;
}
svg:not(:root) {
    overflow: hidden;
}
.l-17lyumd--1 {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    image-rendering: pixelated;
    width: 100%;
    height: auto;
    border-radius: 2px;
    background: white;
}.l-2x1peq--1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.l-16tjgcu {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 3px, rgba(0, 0, 0, 0.1) 0px 1px 2px;
    padding: 16px;
    margin: 16px 0px 0px;
    background: rgb(255, 255, 255);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 12px;
    transition: box-shadow 0.3s ease 0s;
}.l-170qmxp--1 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 12px;
}.l-1pxwezl--1--1 {
    line-height: 1.4;
    font-size: 20px;
    color: rgb(29, 35, 43);
    padding: 0px;
    margin: 0px;
}@media (min-width: 959px)
{
.l-z8ngjj {
    display: none !important;
}}
.l-z8ngjj {
    background-color: transparent;
    padding-left: 10px;
    padding-right: 5px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
}
.l-z8ngjj svg {
    transition: transform 150ms ease-out 0s;
}.l-i9fq99--1 {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 16px;
}.l-17nvt0x {
    cursor: pointer;
    position: relative;
    padding: 20px;
    border-radius: 4px;
}.l-17nvt0x img[data-fill="true"] {
    padding: 0px;
}.l-yhvrli--1 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}.l-1wrjqnn--1 {
    padding-left: 16px;
    text-decoration: none;
}.l-a4yqo7 {
    font-size: 16px;
    color: rgb(29, 35, 43);
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 0px;
}.l-4u69oq {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 500;
    color: rgb(90, 111, 135);
    padding-top: 2px;
}.l-1wrjqnn--1 span {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}.l-t3twgy {
    font-size: 14px;
    font-weight: 500;
    color: rgb(90, 111, 135);
    text-align: right;
    white-space: nowrap;
}
.l-17nvt0x img {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 3px;
    padding: 2px;
}.l-xp0d1v {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 17px;
    color: rgb(29, 35, 43);
    padding-top: 12px;
    font-weight: 500;
    border-top: 1px solid rgb(240, 242, 245);
}.l-trv1a4--1--1 {
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 1.4;
    font-size: 20px;
    color: rgb(29, 35, 43);
    padding: 0px;
}.l-14ecnoj:last-of-type {
    border-bottom-width: 0px;
}.l-145mv9b--1 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}.l-e5b9z7--1 {
    width: 30px;
    height: 30px;
    flex: 0 0 30px;
}.l-180jqhy--1 {
    padding-left: 16px;
}.l-1h6cq0h--1 {
    line-height: 1.5;
    font-weight: 500;
    display: block;
    color: rgb(29, 35, 43);
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}.l-1j8zise--1--1 {
    line-height: 1.5;
    font-size: 14px;
    color: rgb(90, 111, 135);
    padding: 0px;
    margin: 0px;
}.l-72uidi--1 {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    padding-top: 3px;
    color: orange;
    font-weight: 700;
}.l-72uidi--1 p {
    font-size: inherit;
}
.l-5gygdk {
    color: rgb(90, 111, 135);
    margin: 4px 0px 0px;
}
.l-14ecnoj {
    background-color: rgb(255, 255, 255);
    margin-bottom: 22px;
    display: block;
    width: 100%;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 3px, rgba(0, 0, 0, 0.1) 0px 1px 2px;
    border-radius: 12px;
    padding: 13px 19px 15px;
    transition: background-color 120ms ease-out 0s, opacity 120ms ease-out 0s;
}.l-14ecnoj:hover, .l-14ecnoj:active {
    cursor: pointer;
    background-color: rgb(249, 250, 251);
    outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin: 16px 0;
    line-height: 1.1;
}

strong {
    font-weight: 600;
}

button {
    border: 0;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

body * {
    box-sizing: inherit;
}

body[data-modal='true'] {
    overflow: hidden;
}

var {
    font-style: normal;
}

pre {
    margin-top: 0;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.08);
}

.grecaptcha-badge {
    visibility: collapse;
}

.l-1vm6o2n {
    margin: 0px;
    padding: 0px;
    min-height: 70vh;
    text-align: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.l-1m0o9iz--3 {
    background: #FFFFFF;
    label: -3;
}

.l-lqxlj7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    max-width: 1170px;
    -webkit-align-items: space-between;
    -webkit-box-align: space-between;
    -ms-flex-align: space-between;
    align-items: space-between;
    margin: 0 auto;
    padding: 0 16px;
}

@media (max-width:959px) {
    .l-lqxlj7 {
        width: calc(100% - 40px);
        margin: 0 16px;
        padding: 0 12px;
    }
}

@media (max-width:479px) {
    .l-lqxlj7 {
        width: calc(100% - 24px);
        margin: 0 12px;
        padding: 0;
    }
}

.l-9416li {
    padding: 14px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
}

.l-9416li a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.l-69i4i0--3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    label: -3;
}

.l-1ii8ot7 {
    margin-left: 24px;
    list-style-type: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    cursor: auto;
}

.l-1ii8ot7:hover p {
    -webkit-text-decoration: none;
    text-decoration: none;
}

@media (max-width:959px) {
    .l-1ii8ot7 {
        margin-left: 12px;
    }
}

.l-4rgqac {
    color: #F9FAFB;
    background: #459BF7;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    -webkit-flex: 0 0 15px;
    -ms-flex: 0 0 15px;
    flex: 0 0 15px;
    border-radius: 50%;
    display: block;
    margin-right: 9px;
    font-weight: 700;
    font-size: 9px;
    text-align: center;
    line-height: 1.7;
}

.l-65muho--3--3 {
    label: -3;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    line-height: 1.5;
    font-size: 14px;
    color: #459BF7;
    color: #459BF7;
    label: -3;
}

@media (max-width:479px) {
    .l-65muho--3--3 {
        display: none;
    }
}

.l-1fxdbvd--3 {
    margin-left: 24px;
    label: -3;
}

@media (max-width:959px) {
    .l-1fxdbvd--3 {
        margin-left: 12px;
    }
}

.l-vgezxi {
    color: #F9FAFB;
    background: #5A6F87;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    -webkit-flex: 0 0 15px;
    -ms-flex: 0 0 15px;
    flex: 0 0 15px;
    border-radius: 50%;
    display: block;
    margin-right: 9px;
    font-weight: 700;
    font-size: 9px;
    text-align: center;
    line-height: 1.7;
}

.l-1scwwsg--3--3 {
    label: -3;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    line-height: 1.5;
    font-size: 14px;
    color: #5A6F87;
    color: #5A6F87;
    label: -3;
}

@media (max-width:479px) {
    .l-1scwwsg--3--3 {
        display: none;
    }
}

.l-znurzd {
    padding-top: 24px;
    padding-bottom: 30px;
    background: #F9FAFB;
    min-height: calc(100vh - 64px);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.10), inset 0 1px 4px rgba(0, 0, 0, 0.06);
}

@media (max-width:479px) {
    .l-znurzd {
        padding-top: 12px;
    }
}

.l-7uxhm3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    max-width: 1170px;
    -webkit-align-items: space-between;
    -webkit-box-align: space-between;
    -ms-flex-align: space-between;
    align-items: space-between;
    margin: 0 auto;
    padding: 0 16px;
}

@media (max-width:959px) {
    .l-7uxhm3 {
        width: calc(100% - 40px);
        margin: 0 16px;
        padding: 0 12px;
    }
}

@media (max-width:479px) {
    .l-7uxhm3 {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

.l-i3fr2e {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 80vh;
    min-height: 100px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.l-1mjy2eb {
    display: inline-block;
    -webkit-animation-name: anim-spinner;
    animation-name: anim-spinner;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes anim-spinner {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes anim-spinner {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.l-1mjy2eb * {
    box-sizing: border-box;
}

.l-1u472ox {
    width: 2em;
    height: 1em;
    overflow: hidden;
}

.l-1lkkp44 {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 50%;
    border: 0.25em solid #459BF7;
    border-right: 0.25em solid transparent;
    border-bottom: 0.25em solid transparent;
    width: 100%;
    height: 200%;
    -webkit-animation-name: anim-circle-1;
    animation-name: anim-circle-1;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: cubic-bezier(0.25, 0.1, 0.5, 1);
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.5, 1);
}

@-webkit-keyframes anim-circle-1 {
    from {
        -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        transform: rotate(60deg);
    }

    to {
        -webkit-transform: rotate(205deg);
        -ms-transform: rotate(205deg);
        transform: rotate(205deg);
    }
}

@keyframes anim-circle-1 {
    from {
        -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        transform: rotate(60deg);
    }

    to {
        -webkit-transform: rotate(205deg);
        -ms-transform: rotate(205deg);
        transform: rotate(205deg);
    }
}

@-webkit-keyframes anim-circle-2 {
    from {
        -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        transform: rotate(30deg);
    }

    to {
        -webkit-transform: rotate(-115deg);
        -ms-transform: rotate(-115deg);
        transform: rotate(-115deg);
    }
}

@keyframes anim-circle-2 {
    from {
        -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        transform: rotate(30deg);
    }

    to {
        -webkit-transform: rotate(-115deg);
        -ms-transform: rotate(-115deg);
        transform: rotate(-115deg);
    }
}

.l-wscd2n {
    width: 2em;
    height: 1em;
    overflow: hidden;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.l-urbu9s {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 50%;
    border: 0.25em solid #459BF7;
    border-right: 0.25em solid transparent;
    border-bottom: 0.25em solid transparent;
    width: 100%;
    height: 200%;
    -webkit-animation-name: anim-circle-2;
    animation-name: anim-circle-2;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: cubic-bezier(0.25, 0.1, 0.5, 1);
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.5, 1);
}

@-webkit-keyframes anim-circle-1 {
    from {
        -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        transform: rotate(60deg);
    }

    to {
        -webkit-transform: rotate(205deg);
        -ms-transform: rotate(205deg);
        transform: rotate(205deg);
    }
}

@keyframes anim-circle-1 {
    from {
        -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        transform: rotate(60deg);
    }

    to {
        -webkit-transform: rotate(205deg);
        -ms-transform: rotate(205deg);
        transform: rotate(205deg);
    }
}

@-webkit-keyframes anim-circle-2 {
    from {
        -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        transform: rotate(30deg);
    }

    to {
        -webkit-transform: rotate(-115deg);
        -ms-transform: rotate(-115deg);
        transform: rotate(-115deg);
    }
}

@keyframes anim-circle-2 {
    from {
        -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        transform: rotate(30deg);
    }

    to {
        -webkit-transform: rotate(-115deg);
        -ms-transform: rotate(-115deg);
        transform: rotate(-115deg);
    }
}