              @font-face {
                  font-family: 'bitrefill';
                  src: url('/static/bitrefill.f966d054.ttf');
                  font-display: swap;
              }

              body {
                  box-sizing: border-box;
                  margin: 0;
                  background-color: #FFFFFF;
                  color: #1D232B;
                  font-family: bitrefill, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
              }

              h1,
              h2,
              h3,
              h4,
              h5,
              h6 {
                  font-weight: 500;
                  margin: 16px 0;
                  line-height: 1.1;
              }

              strong {
                  font-weight: 600;
              }

              button {
                  border: 0;
                  box-shadow: none;
                  padding: 0;
                  margin: 0;
              }

              body * {
                  box-sizing: inherit;
              }

              body[data-modal='true'] {
                  overflow: hidden;
              }

              var {
                  font-style: normal;
              }

              pre {
                  margin-top: 0;
                  padding: 8px;
                  background-color: rgba(0, 0, 0, 0.08);
              }

              .grecaptcha-badge {
                  visibility: collapse;
              }

              .l-1vm6o2n {
                  margin: 0px;
                  padding: 0px;
                  min-height: 70vh;
                  text-align: left;
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-flex-direction: column;
                  -ms-flex-direction: column;
                  flex-direction: column;
                  -webkit-box-pack: start;
                  -webkit-justify-content: flex-start;
                  -ms-flex-pack: start;
                  justify-content: flex-start;
              }

              .l-1t7fvih {
                  background-color: #FFFFFF;
              }

              .l-lqxlj7 {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-flex-direction: column;
                  -ms-flex-direction: column;
                  flex-direction: column;
                  width: 100%;
                  max-width: 1170px;
                  -webkit-align-items: space-between;
                  -webkit-box-align: space-between;
                  -ms-flex-align: space-between;
                  align-items: space-between;
                  margin: 0 auto;
                  padding: 0 16px;
              }

              @media (max-width:959px) {
                  .l-lqxlj7 {
                      width: calc(100% - 40px);
                      margin: 0 16px;
                      padding: 0 12px;
                  }
              }

              @media (max-width:479px) {
                  .l-lqxlj7 {
                      width: calc(100% - 24px);
                      margin: 0 12px;
                      padding: 0;
                  }
              }

              .l-9ho4sz {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  padding: 12px 0;
                  max-width: 1170px;
                  width: 100%;
                  background-color: #FFFFFF;
                  -webkit-box-pack: justify;
                  -webkit-justify-content: space-between;
                  -ms-flex-pack: justify;
                  justify-content: space-between;
              }

              @media (max-width:959px) {
                  .l-9ho4sz {
                      display: grid;
                      grid-template-columns: 1fr 1fr 1fr;
                      position: fixed;
                      top: 0;
                      left: 0;
                      z-index: 5;
                      padding: 10px 32px;
                      margin-bottom: 24px;
                  }
              }

              @media (max-width:479px) {
                  .l-9ho4sz {
                      padding: 10px 12px;
                      margin-bottom: 0;
                  }
              }

              .l-18vfbgj {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-align-items: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
              }

              @media (max-width:959px) {
                  .l-18vfbgj {
                      -webkit-order: 1;
                      -ms-flex-order: 1;
                      order: 1;
                      justify-self: center;
                      margin-right: 8px;
                  }
              }

              .l-qvvnd5-2 {
                  position: relative;
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-align-items: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  width: 100%;
                  label: 2;
              }

              @media (max-width:959px) {
                  .l-qvvnd5-2 {
                      width: auto;
                  }
              }

              .l-1a9j088-2 {
                  display: none;
                  label: 2;
              }

              @media (max-width:959px) {
                  .l-1a9j088-2:checked~ul {
                      -webkit-transform: translateX(280px);
                      -ms-transform: translateX(280px);
                      transform: translateX(280px);
                  }

                  .l-1a9j088-2:checked~label:first-of-type {
                      opacity: 1;
                      visibility: visible;
                  }
              }

              .l-8mfw17-2 {
                  position: fixed;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  background-color: rgba(0, 0, 0, 0.3);
                  z-index: 989;
                  opacity: 0;
                  visibility: hidden;
                  transition: opacity 200ms ease-out 0s, visibility 200ms ease-out 0s;
                  cursor: pointer;
                  label: 2;
              }

              .l-1x2gi9h {
                  cursor: pointer;
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  position: relative;
                  color: #5A6F87;
                  padding: 12px 12px;
                  border-radius: 3px;
              }

              .l-1x2gi9h:hover {
                  background-color: #F0F2F5;
              }

              @media (min-width:959px) {
                  .l-1x2gi9h {
                      display: none;
                  }
              }

              @media (max-width:479px) {
                  .l-1x2gi9h span {
                      display: none;
                  }
              }

              .l-1uc3g14 {
                  position: relative;
                  width: 25px;
                  height: 17px;
                  opacity: 0.8;
              }

              .l-1uc3g14 span {
                  position: absolute;
                  left: 0;
                  display: block;
                  width: 25px;
                  height: 3px;
                  background-color: #5A6F87;
                  opacity: 1;
              }

              .l-1uc3g14 span:nth-of-type(1) {
                  top: 0;
              }

              .l-1uc3g14 span:nth-of-type(2) {
                  top: 8px;
              }

              .l-1uc3g14 span:nth-of-type(3) {
                  top: 16px;
              }

              .l-ualjss-2 {
                  margin-left: 8px;
                  label: 2;
              }

              .l-2ck3p5 {
                  list-style-type: none;
                  margin-left: auto;
                  transition: transform 300ms cubic-bezier(0, 0.715, 0.345, 1);
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  margin: 0;
                  -webkit-box-pack: justify;
                  -webkit-justify-content: space-between;
                  -ms-flex-pack: justify;
                  justify-content: space-between;
                  width: 100%;
              }

              @media (max-width:959px) {
                  .l-2ck3p5 {
                      display: block;
                      position: fixed;
                      right: 100vw;
                      top: 0;
                      bottom: 0;
                      left: auto;
                      width: 280px;
                      background: #F0F2F5;
                      z-index: 990;
                      padding-top: 36px;
                      padding: 0;
                      overflow-y: auto;
                  }
              }

              .l-6lfw9q {
                  position: absolute;
                  top: 8px;
                  right: 12px;
                  cursor: pointer;
                  font-size: 32px;
                  line-height: 1;
                  padding: 0 6px 6px 6px;
                  color: #1D232B;
              }

              @media (min-width:959px) {
                  .l-6lfw9q {
                      display: none;
                  }
              }

              .l-pgm2qa-2 {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-order: 1;
                  -ms-flex-order: 1;
                  order: 1;
                  label: 2;
              }

              @media (max-width:959px) {
                  .l-pgm2qa-2 {
                      -webkit-flex-direction: column;
                      -ms-flex-direction: column;
                      flex-direction: column;
                  }
              }

              .l-4q3fdj-2 {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  label: 2;
              }

              @media (max-width:959px) {
                  .l-4q3fdj-2 {
                      -webkit-flex-direction: column;
                      -ms-flex-direction: column;
                      flex-direction: column;
                  }
              }

              .l-y6n7ze-2 {
                  font-weight: 700;
                  font-size: 20px;
                  padding: 12px 24px;
                  label: 2;
              }

              @media (min-width:959px) {
                  .l-y6n7ze-2 {
                      display: none;
                  }
              }

              .l-1vcr3xk {
                  font-size: 16px;
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-align-items: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  color: #5A6F87;
                  -webkit-text-decoration: none;
                  text-decoration: none;
                  border-radius: 4px;
                  margin: 0;
                  cursor: pointer;
              }

              .l-1vcr3xk:hover,
              .l-1vcr3xk:focus {
                  background-color: #F0F2F5;
              }

              @media (max-width:959px) {
                  .l-1vcr3xk {
                      padding-left: 28px;
                  }
              }

              @media (min-width:959px) {
                  .l-1vcr3xk {
                      margin-left: 8px;
                  }

                  .l-1vcr3xk.btn {
                      border-radius: 4px;
                      background: #F0F2F5;
                      color: #5A6F87;
                      font-size: 16px;
                      border: 1px solid #A3B2C2;
                  }

                  .l-1vcr3xk.btn:hover {
                      background: #FFFFFF;
                  }
              }

              .l-1vcr3xk>a,
              .l-1vcr3xk .navitem {
                  cursor: pointer;
                  font-size: 16px;
                  background: none;
                  color: #5A6F87;
                  display: block;
                  -webkit-text-decoration: none;
                  text-decoration: none;
                  padding: 8px 8px;
                  line-height: 1.5;
              }

              @media (max-width:959px) {

                  .l-1vcr3xk>a,
                  .l-1vcr3xk .navitem {
                      padding: 8px 0;
                      width: 100%;
                  }
              }

              .l-1viia8t-2 {
                  font-size: 16px;
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-align-items: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  color: #5A6F87;
                  -webkit-text-decoration: none;
                  text-decoration: none;
                  border-radius: 4px;
                  margin: 0;
                  cursor: pointer;
                  label: 2;
              }

              .l-1viia8t-2:hover,
              .l-1viia8t-2:focus {
                  background-color: #F0F2F5;
              }

              @media (max-width:959px) {
                  .l-1viia8t-2 {
                      padding-left: 28px;
                  }
              }

              @media (min-width:959px) {
                  .l-1viia8t-2 {
                      margin-left: 8px;
                  }

                  .l-1viia8t-2.btn {
                      border-radius: 4px;
                      background: #F0F2F5;
                      color: #5A6F87;
                      font-size: 16px;
                      border: 1px solid #A3B2C2;
                  }

                  .l-1viia8t-2.btn:hover {
                      background: #FFFFFF;
                  }
              }

              .l-1viia8t-2>a,
              .l-1viia8t-2 .navitem {
                  cursor: pointer;
                  font-size: 16px;
                  background: none;
                  color: #5A6F87;
                  display: block;
                  -webkit-text-decoration: none;
                  text-decoration: none;
                  padding: 8px 16px;
                  line-height: 1.5;
              }

              @media (max-width:959px) {

                  .l-1viia8t-2>a,
                  .l-1viia8t-2 .navitem {
                      padding: 8px 0;
                      width: 100%;
                  }
              }

              @media (min-width:959px) {
                  .l-1viia8t-2 {
                      display: none;
                  }
              }

              .l-ks9thb {
                  font-size: 16px;
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-align-items: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  color: #5A6F87;
                  -webkit-text-decoration: none;
                  text-decoration: none;
                  border-radius: 4px;
                  margin: 0;
                  cursor: pointer;
                  position: relative;
                  -webkit-order: 2;
                  -ms-flex-order: 2;
                  order: 2;
                  padding: 0 13px;
                  justify-self: flex-end;
                  outline: none;
              }

              .l-ks9thb:hover,
              .l-ks9thb:focus {
                  background-color: #F0F2F5;
              }

              @media (max-width:959px) {
                  .l-ks9thb {
                      padding-left: 28px;
                  }
              }

              @media (min-width:959px) {
                  .l-ks9thb {
                      margin-left: 8px;
                  }

                  .l-ks9thb.btn {
                      border-radius: 4px;
                      background: #F0F2F5;
                      color: #5A6F87;
                      font-size: 16px;
                      border: 1px solid #A3B2C2;
                  }

                  .l-ks9thb.btn:hover {
                      background: #FFFFFF;
                  }
              }

              .l-ks9thb>a,
              .l-ks9thb .navitem {
                  cursor: pointer;
                  font-size: 16px;
                  background: none;
                  color: #5A6F87;
                  display: block;
                  -webkit-text-decoration: none;
                  text-decoration: none;
                  padding: 8px 16px;
                  line-height: 1.5;
              }

              @media (max-width:959px) {

                  .l-ks9thb>a,
                  .l-ks9thb .navitem {
                      padding: 8px 0;
                      width: 100%;
                  }
              }

              @media (min-width:959px) {
                  .l-ks9thb {
                      margin-left: 13px;
                  }
              }

              @media (max-width:959px) {
                  .l-ks9thb {
                      padding-left: 8px;
                  }
              }

              .l-7vooej {
                  cursor: pointer;
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  position: relative;
                  -webkit-align-items: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  color: #5A6F87;
                  border-radius: 3px;
                  line-height: 1.5;
                  width: 100%;
                  height: 100%;
              }

              .l-1skwtq3-2 {
                  padding-left: 9px;
                  label: 2;
              }

              @media (max-width:959px) {
                  .l-1skwtq3-2 {
                      display: none;
                  }
              }

              .l-1dy34gz-2 {
                  display: none;
                  label: 2;
              }

              @media (max-width:959px) {
                  .l-1dy34gz-2 {
                      display: block;
                      height: 64px;
                      width: 100%;
                  }
              }

              .l-17wxq0i-2 {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-flex-direction: row;
                  -ms-flex-direction: row;
                  flex-direction: row;
                  margin-top: 32px;
                  label: 2;
              }

              @media (max-width:600px) {
                  .l-17wxq0i-2 {
                      -webkit-flex-direction: column;
                      -ms-flex-direction: column;
                      flex-direction: column;
                      margin-top: 0;
                  }
              }

              .l-1wt8vbo {
                  background: #F0F2F5;
                  -webkit-flex: 0 0 500px;
                  -ms-flex: 0 0 500px;
                  flex: 0 0 500px;
                  max-height: 500px;
                  -webkit-align-items: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  -webkit-box-pack: center;
                  -webkit-justify-content: center;
                  -ms-flex-pack: center;
                  justify-content: center;
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  margin-bottom: 24px;
                  position: -webkit-sticky;
                  position: sticky;
                  top: 15px;
                  bottom: 15px;
              }

              @media (max-width:959px) {
                  .l-1wt8vbo {
                      -webkit-flex: 0 0 35%;
                      -ms-flex: 0 0 35%;
                      flex: 0 0 35%;
                      min-height: 250px;
                      max-height: 250px;
                      padding: 40px 0;
                      margin-bottom: 8px;
                  }
              }

              @media (max-width:600px) {
                  .l-1wt8vbo {
                      position: static;
                  }
              }

              @media (max-width:479px) {
                  .l-1wt8vbo {
                      -webkit-flex: 0 0 calc(100% + 20px);
                      -ms-flex: 0 0 calc(100% + 20px);
                      flex: 0 0 calc(100% + 20px);
                      margin-left: -10px;
                      margin-right: -10px;
                      margin-bottom: 8px;
                  }
              }

              .l-layjw8-2-2 {
                  color: red;
                  text-align: center;
                  -webkit-text-decoration: none;
                  text-decoration: none;
                  text-align: center;
                  font-weight: 500;
                  font-size: 17px;
                  line-height: 1.17;
                  margin-bottom: 5px;
                  width: 100%;
                  height: auto;
                  display: block;
                  label: 2;
                  width: 70%;
                  label: 2;
              }

              @media (max-width:479px) {
                  .l-layjw8-2-2 {
                      font-size: 16px;
                  }
              }

              @media (max-width:600px) {
                  .l-layjw8-2-2 {
                      width: 50%;
                  }
              }

              @media (max-width:479px) {
                  .l-layjw8-2-2 {
                      width: 60%;
                  }
              }

              .l-d6m5lc {
                  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.10);
                  border-radius: 8px;
                  position: relative;
                  padding-bottom: 68%;
                  transition: transform 150ms ease-out;
              }

              .l-d6m5lc:hover {
                  -webkit-transform: translateY(-3px);
                  -ms-transform: translateY(-3px);
                  transform: translateY(-3px);
              }

              .l-cokf6j-2-2 {
                  position: absolute;
                  top: 24px;
                  right: 24px;
                  bottom: 24px;
                  left: 24px;
                  label: 2;
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-align-items: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  -webkit-box-pack: center;
                  -webkit-justify-content: center;
                  -ms-flex-pack: center;
                  justify-content: center;
                  label: 2;
              }

              .l-cokf6j-2-2 img {
                  object-fit: contain;
              }

              .l-cokf6j-2-2[data-fill='true'] {
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
              }

              .l-cokf6j-2-2[data-fill='true'] img,
              .l-cokf6j-2-2[data-fill='true'] amp-img {
                  object-fit: fill;
                  border-radius: 8px;
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
              }

              .l-xieeun-2 {
                  height: 100%;
                  max-width: 100%;
                  label: 2;
              }

              .l-wenihk-2 {
                  width: 100%;
                  padding-left: 40px;
                  min-width: 0;
                  label: 2;
              }

              @media (max-width:600px) {
                  .l-wenihk-2 {
                      padding-left: 0;
                  }
              }

              .l-liirey {
                  display: -webkit-inline-box;
                  display: -webkit-inline-flex;
                  display: -ms-inline-flexbox;
                  display: inline-flex;
                  -webkit-align-items: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
              }

              .l-liirey a {
                  -webkit-text-decoration: none;
                  text-decoration: none;
                  margin-right: 10px;
                  color: #5A6F87;
                  font-size: 14px;
                  transition: color 150ms ease-out;
              }

              .l-liirey a:hover {
                  color: #1D232B;
                  -webkit-text-decoration: underline;
                  text-decoration: underline;
              }

              .l-liirey svg {
                  margin-right: 10px;
              }

              .l-hdpqtb {
                  display: -webkit-inline-box;
                  display: -webkit-inline-flex;
                  display: -ms-inline-flexbox;
                  display: inline-flex;
                  -webkit-align-items: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
              }

              .l-hdpqtb a {
                  -webkit-text-decoration: none;
                  text-decoration: none;
                  margin-right: 10px;
                  color: #5A6F87;
                  font-size: 14px;
                  transition: color 150ms ease-out;
              }

              .l-hdpqtb a:hover {
                  color: #1D232B;
                  -webkit-text-decoration: underline;
                  text-decoration: underline;
              }

              .l-hdpqtb svg {
                  margin-right: 10px;
              }

              .l-hdpqtb a {
                  color: #1D232B;
                  pointer-events: none;
              }

              .l-b27mxe {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-flex-direction: row;
                  -ms-flex-direction: row;
                  flex-direction: row;
                  -webkit-align-items: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  margin: 16px 0 4px 0;
              }

              .l-b27mxe h1 {
                  margin: 0;
                  color: #1D232B;
              }

              .l-b27mxe div {
                  margin-left: 8px;
              }

              .l-1k51syl-2 {
                  font-size: inherit;
                  background-color: transparent;
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  appearance: none;
                  label: 2;
              }

              .l-1k51syl-2:active {
                  outline: none;
              }

              .l-1wl7hen {
                  display: inline-block;
                  color: #0972E1;
                  cursor: pointer;
                  -webkit-text-decoration: none;
                  text-decoration: none;
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-flex-direction: row;
                  -ms-flex-direction: row;
                  flex-direction: row;
                  -webkit-align-items: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
              }

              .l-1wl7hen p {
                  margin: 12px;
                  color: #5A6F87;
              }

              @media (max-width:479px) {
                  .l-1wl7hen p {
                      margin-left: 0;
                      margin-top: 6px;
                  }
              }

              @media (max-width:479px) {
                  .l-1wl7hen {
                      -webkit-flex-direction: column;
                      -ms-flex-direction: column;
                      flex-direction: column;
                      -webkit-align-items: flex-start;
                      -webkit-box-align: flex-start;
                      -ms-flex-align: flex-start;
                      align-items: flex-start;
                  }
              }

              .l-cedl3k-2 {
                  position: relative;
                  width: 120px;
                  height: 40px;
                  label: 2;
              }

              .l-cedl3k-2 span {
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 100%;
                  background-repeat: no-repeat;
                  background-size: cover;
              }

              .l-v3ntxh-2 {
                  width: 100%;
                  background-image: url(/content/cn/c_pad%2Ch_80%2Cw_240/v17/images/star-row-default.png);
                  label: 2;
              }

              .l-156c610 {
                  width: 100%;
                  background-image: url(/content/cn/c_pad%2Ch_80%2Cw_240/v17/images/star-row.png);
              }

              .l-vo3cl1 {
                  margin: 12px 0;
              }

              .l-vo3cl1 span {
                  border: 1px solid #A3B2C2;
                  border-radius: 4px;
                  color: #5A6F87;
                  padding: 4px;
                  margin-right: 8px;
              }

              .l-civ7qo-2 {
                  label: 2;
                  margin-top: 8px;
                  margin-bottom: 8px;
                  padding: 0px;
                  line-height: 1.4;
                  font-size: 20px;
                  color: #1D232B;
                  color: #1D232B;
                  color: #5A6F87;
                  margin-bottom: 24px;
                  line-height: 1.5;
                  margin-top: 10px;
                  font-size: 16px;
                  font-weight: 400;
              }

              .l-tih06m-2 {
                  label: 2;
                  margin-top: 8px;
                  margin-bottom: 8px;
                  padding: 0px;
                  line-height: 1.5;
                  font-size: 14px;
                  color: #5A6F87;
                  color: #5A6F87;
                  font-size: 17px;
                  font-weight: 500;
                  color: #1D232B;
              }

              .l-1qidl6o-2 {
                  display: grid;
                  grid-template-columns: repeat(2, 1fr);
                  margin-bottom: 8px;
                  grid-template-columns: repeat(3, 1fr);
                  label: 2;
              }

              @media (max-width:1115px) {
                  .l-1qidl6o-2 {
                      grid-template-columns: repeat(2, 1fr);
                  }
              }

              @media (max-width:479px) {
                  .l-1qidl6o-2 {
                      grid-template-columns: 1fr;
                  }
              }

              .l-1b4gzgt {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-align-items: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  margin-right: 24px;
                  margin-bottom: 8px;
                  outline: none;
              }

              .l-1b4gzgt .radio__fake {
                  width: 25px;
                  height: 25px;
                  -webkit-flex: 0 0 25px;
                  -ms-flex: 0 0 25px;
                  flex: 0 0 25px;
                  background-color: #F9FAFB;
                  border-radius: 50%;
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-align-items: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  -webkit-box-pack: center;
                  -webkit-justify-content: center;
                  -ms-flex-pack: center;
                  justify-content: center;
                  -webkit-transform-origin: center;
                  -ms-transform-origin: center;
                  transform-origin: center;
                  transition: border-color 150ms ease-out, transform 150ms ease-out;
                  border: 2px solid #F0F2F5;
                  position: relative;
              }

              .l-1b4gzgt .radio__fake:after {
                  content: '';
                  width: 100%;
                  height: 100%;
                  border-radius: 50%;
                  background-color: #FFFFFF;
                  -webkit-transform-origin: center;
                  -ms-transform-origin: center;
                  transform-origin: center;
                  transition: transform 150ms ease-out;
              }

              .l-1b4gzgt:focus .radio__fake {
                  border-color: #459BF7;
                  -webkit-transform: scale(1.08);
                  -ms-transform: scale(1.08);
                  transform: scale(1.08);
              }

              .l-1b4gzgt:hover {
                  cursor: pointer;
              }

              .l-1b4gzgt:hover .radio__fake {
                  border-color: #459BF7;
              }

              .l-g5cvxc {
                  display: none;
              }

              .l-g5cvxc:active+.radio__fake {
                  -webkit-transform: scale(1.08);
                  -ms-transform: scale(1.08);
                  transform: scale(1.08);
              }

              .l-g5cvxc:checked+.radio__fake {
                  border-color: #459BF7;
                  background-color: #459BF7;
              }

              .l-g5cvxc:checked+.radio__fake:after {
                  -webkit-transform: scale(0.5);
                  -ms-transform: scale(0.5);
                  transform: scale(0.5);
              }

              .l-10zozy1 {
                  font-size: 16px;
                  margin-left: 12px;
                  font-weight: 500;
                  white-space: nowrap;
                  color: #1D232B;
              }

              .l-10zozy1 div {
                  color: #5A6F87;
                  font-size: 14px;
                  height: 16px;
              }

              .l-14yjwbu {
                  font-size: 16px;
                  margin-left: 12px;
                  font-weight: 500;
                  white-space: nowrap;
                  color: #1D232B;
                  -webkit-text-decoration: none;
                  text-decoration: none;
              }

              .l-w5evj6 {
                  min-width: 265px;
                  color: #1D232B;
              }

              @media (max-width:959px) {
                  .l-w5evj6 {
                      max-width: none;
                  }
              }

              .l-77mxvo {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-flex-direction: column;
                  -ms-flex-direction: column;
                  flex-direction: column;
                  width: 100%;
                  padding: 10px 0;
              }

              .l-132hm4i-2 {
                  label: 2;
                  width: 100%;
                  max-width: 400px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  border: 0;
                  color: #1D232B;
                  background-color: #FFFFFF;
                  border: 2px solid #CBD3DC;
                  min-height: 40px;
                  padding: 10px 8px;
                  line-height: 1.15;
                  transition: border 250ms;
                  resize: vertical;
                  border-radius: 4px;
                  margin: 0;
                  font-size: 16px;
              }

              .l-132hm4i-2::-webkit-input-placeholder {
                  color: #5A6F87;
                  opacity: 0.5;
              }

              .l-132hm4i-2::-moz-placeholder {
                  color: #5A6F87;
                  opacity: 0.5;
              }

              .l-132hm4i-2:-ms-input-placeholder {
                  color: #5A6F87;
                  opacity: 0.5;
              }

              .l-132hm4i-2::placeholder {
                  color: #5A6F87;
                  opacity: 0.5;
              }

              .l-132hm4i-2:hover,
              .l-132hm4i-2:focus,
              .l-132hm4i-2:active {
                  color: #1D232B;
                  background-color: #FFFFFF;
                  border: 2px solid #5A6F87;
              }

              .l-132hm4i-2:hover::-webkit-input-placeholder,
              .l-132hm4i-2:focus::-webkit-input-placeholder,
              .l-132hm4i-2:active::-webkit-input-placeholder {
                  color: #5A6F87;
              }

              .l-132hm4i-2:hover::-moz-placeholder,
              .l-132hm4i-2:focus::-moz-placeholder,
              .l-132hm4i-2:active::-moz-placeholder {
                  color: #5A6F87;
              }

              .l-132hm4i-2:hover:-ms-input-placeholder,
              .l-132hm4i-2:focus:-ms-input-placeholder,
              .l-132hm4i-2:active:-ms-input-placeholder {
                  color: #5A6F87;
              }

              .l-132hm4i-2:hover::placeholder,
              .l-132hm4i-2:focus::placeholder,
              .l-132hm4i-2:active::placeholder {
                  color: #5A6F87;
              }

              .l-99kpxf-2 {
                  label: 2;
                  margin-top: 8px;
                  margin-bottom: 8px;
                  padding: 0px;
                  padding-right: 8px;
                  line-height: 1.5;
                  font-size: 14px;
                  color: #5A6F87;
                  color: #5A6F87;
              }

              .l-1a2lyks {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-align-items: flex-start;
                  -webkit-box-align: flex-start;
                  -ms-flex-align: flex-start;
                  align-items: flex-start;
              }

              @media (max-width:479px) {
                  .l-1a2lyks {
                      display: block;
                  }
              }

              .l-ns4038 {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-flex-direction: row;
                  -ms-flex-direction: row;
                  flex-direction: row;
                  margin-top: 16px;
                  margin-bottom: 32px;
                  -webkit-flex: 1;
                  -ms-flex: 1;
                  flex: 1;
                  height: 42px;
              }

              .l-ns4038 button:focus {
                  outline: 0;
              }

              .l-ns4038 button[type='submit'] {
                  background-color: #7ab946;
                  width: 100%;
                  padding: 12px;
                  font-size: 14px;
                  font-weight: 600;
                  color: #FFFFFF;
                  margin: 0;
                  transition: background-color 150ms ease-out;
                  border-radius: none;
              }

              .l-ns4038 button[type='submit']:hover {
                  cursor: pointer;
                  background-color: #7ab946;
                   opacity:0.9;
              }

              .l-ns4038 button[type='submit']:active {
                  background-color: #7ab946;
              }

              .l-ns4038 button[type='button'] {
                  background-color: #7ab946;
                  color: #FFFFFF;
                  margin: 0;
                  font-size: 28px;
                  width: 44px;
                  transition: background-color 150ms ease-out;
              }

              .l-ns4038 button[type='button']:hover {
                  cursor: pointer;
                  background-color: #7ab946;
                  opacity:0.9;
                  color: #FFFFFF;
              }

              .l-ns4038 button[type='button']:active {
                  background-color: #7ab946;
                  color: #FFFFFF;
              }

              .l-ns4038 button[type='button']:first-of-type {
                  border-radius: 4px 0 0 4px;
                  background-color: #7ab946;
              }

              .l-ns4038 button[type='button']:last-of-type {
                  border-radius: 0 4px 4px 0;
                  background-color: #7ab946;
              }

              .l-ns4038 button[type='button'] span {
                  position: relative;
                  top: -2px;
              }

              .l-ns4038 button:disabled,
              .l-ns4038 button:disabled:hover {
                  background-color: #7ab946;
                  color: #DCEDFF;
              }

              @media (max-width:479px) {
                  .l-ns4038 {
                      margin-bottom: 16px;
                  }
              }

              .l-no8bmp-2 {
                  width: 18px;
                  height: 18px;
                  margin-right: 10px;
                  margin-bottom: -4px;
                  label: 2;
              }

              .l-4wu6l {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-flex-direction: row;
                  -ms-flex-direction: row;
                  flex-direction: row;
                  -webkit-box-pack: justify;
                  -webkit-justify-content: space-between;
                  -ms-flex-pack: justify;
                  justify-content: space-between;
                  -webkit-align-items: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  height: 42px;
                  margin-top: 16px;
                  margin-bottom: 32px;
                  margin-left: 20px;
                  cursor: pointer;
                  border: 3px solid #bedcfc;
                  background-color: #ecf5ff;
                  font-size: 14px;
                  font-weight: 600px;
                  color: #3290f6;
                  font-weight: bold;
                  border-radius: 3px;
                  padding: 8px;
              }

              .l-4wu6l:hover {
                  opacity: 80%;
              }

              .l-4wu6l svg {
                  fill: #459BF7;
              }

              .l-4wu6l .content {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-align-items: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
              }

              .l-4wu6l .content svg {
                  margin-right: 6px;
              }

              .l-4wu6l .padding,
              .l-4wu6l .chevron {
                  display: none;
              }

              @media (max-width:479px) {
                  .l-4wu6l {
                      margin-left: 0;
                      width: 100%;
                      margin-top: 0;
                  }

                  .l-4wu6l .padding {
                      width: 24px;
                  }

                  .l-4wu6l .chevron,
                  .l-4wu6l .padding {
                      display: block;
                  }
              }

              .l-m1esr4-2 {
                  border: none;
                  padding: 0;
                  label: 2;
              }

              .l-m1esr4-2 #gift-selector,
              .l-m1esr4-2 .gift-modal-root,
              .l-m1esr4-2 .gift-modal-backdrop,
              .l-m1esr4-2 legend {
                  display: none;
              }

              .l-m1esr4-2 #gift-selector:checked~.gift-modal-root,
              .l-m1esr4-2 #gift-selector:checked~.gift-modal-backdrop {
                  display: block;
              }

              @media (max-width:479px) {
                  .l-m1esr4-2 #gift-selector:checked~.gift-modal-backdrop {
                      display: none;
                  }
              }

              .l-4ch1x9 {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-flex-direction: column;
                  -ms-flex-direction: column;
                  flex-direction: column;
                  padding: 0;
                  max-width: 736px;
                  margin: 16px 0 0 0;
                  background: #FFFFFF;
                  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.10);
                  border: none;
                  border-radius: 12px;
                  transition: box-shadow 0.3s ease;
                  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.10);
                  position: absolute;
                  top: 170px;
                  left: 50%;
                  -webkit-transform: translate(-50%, -150px);
                  -ms-transform: translate(-50%, -150px);
                  transform: translate(-50%, -150px);
                  z-index: 999;
                  padding: 20px 30px;
                  width: 100%;
                  max-width: 658px;
                  background: #FFFFFF;
              }

              @media (max-width:479px) {
                  .l-4ch1x9 {
                      margin-top: 0;
                      border-radius: 0;
                  }
              }

              @media (max-width:479px) {
                  .l-4ch1x9 {
                      top: 0;
                      left: 0;
                      -webkit-transform: initial;
                      -ms-transform: initial;
                      transform: initial;
                      min-width: unset;
                      position: initial;
                      box-shadow: unset;
                      padding: 0;
                      background: #FFFFFF;
                  }
              }

              .l-1cni9b6 {
                  width: 100%;
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-flex-wrap: wrap;
                  -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
                  -webkit-box-pack: justify;
                  -webkit-justify-content: space-between;
                  -ms-flex-pack: justify;
                  justify-content: space-between;
              }

              @media (max-width:479px) {
                  .l-1cni9b6 {
                      display: none;
                  }
              }

              .l-1mfam5a {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-align-items: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  -webkit-text-decoration: none;
                  text-decoration: none;
                  color: #0972E1;
              }

              .l-1mfam5a h1 {
                  font-size: 21px;
                  font-weight: 500;
                  line-height: 46px;
              }

              .l-1mfam5a svg {
                  margin-right: 8px;
                  fill: #459BF7;
              }

              .l-1ja30ff-2 {
                  width: 31px;
                  height: auto;
                  margin-right: 14px;
                  label: 2;
              }

              .l-1on6u8r-2 {
                  label: 2;
                  margin-top: 8px;
                  margin-bottom: 8px;
                  padding: 0px;
                  line-height: 1.25;
                  font-size: 24px;
                  color: #1D232B;
                  color: #1D232B;
              }

              .l-anfhzl {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-align-items: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  -webkit-text-decoration: none;
                  text-decoration: none;
                  color: #0972E1;
              }

              .l-anfhzl svg {
                  margin-right: 8px;
              }

              .l-17nvt0x {
                  padding: 20px;
                  cursor: pointer;
                  position: relative;
                  border-radius: 4px;
              }

              .l-17nvt0x img {
                  position: absolute;
                  border-radius: 3px;
                  width: 100%;
                  height: auto;
                  left: 0;
                  top: 50%;
                  -webkit-transform: translateY(-50%);
                  -ms-transform: translateY(-50%);
                  transform: translateY(-50%);
                  padding: 2px;
              }

              .l-17nvt0x img[data-fill='true'] {
                  padding: 0;
              }

              .l-1ocpzi3-2 {
                  width: 100%;
                  padding-left: 16px;
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-pack: justify;
                  -webkit-justify-content: space-between;
                  -ms-flex-pack: justify;
                  justify-content: space-between;
                  -webkit-flex-direction: column;
                  -ms-flex-direction: column;
                  flex-direction: column;
                  label: 2;
              }

              .l-1svqw2u {
                  margin: 0;
                  font-size: 16px;
                  color: #1D232B;
              }

              .l-1rbpb2y {
                  font-size: 14px;
                  font-weight: 500;
                  color: #5A6F87;
                  white-space: nowrap;
              }

              .l-1w1yulm {
                  border: 0;
                  border-bottom: 1px solid #F0F2F5;
                  margin: 16px 0;
              }

              @media (max-width:479px) {
                  .l-1w1yulm {
                      display: none;
                  }
              }

              .l-1e1lyeo {
                  width: calc(100% + 16px);
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-pack: space-around;
                  -webkit-justify-content: space-around;
                  -ms-flex-pack: space-around;
                  justify-content: space-around;
                  -webkit-flex-direction: row;
                  -ms-flex-direction: row;
                  flex-direction: row;
                  margin-bottom: 16px;
                  margin: 0 -8px;
              }

              @media (max-width:479px) {
                  .l-1e1lyeo {
                      -webkit-flex-direction: column;
                      -ms-flex-direction: column;
                      flex-direction: column;
                  }
              }

              .l-1e1lyeo>div {
                  width: 100%;
                  padding: 8px;
              }

              .l-wpyovy {
                  width: 100%;
                  text-align: left;
                  margin-top: 8px;
                  margin-bottom: 12px;
                  padding: 0px;
                  line-height: 1.5;
                  font-size: 14px;
                  color: #5A6F87;
              }

              .l-1comh1i {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-flex-direction: column;
                  -ms-flex-direction: column;
                  flex-direction: column;
              }

              .l-1comh1i role[button] {
                  margin-right: 20px;
              }

              .l-1c38k1t {
                  width: 100%;
                  text-align: left;
                  margin-top: 8px;
                  margin-bottom: 8px;
                  padding: 0px;
                  line-height: 1.5;
                  font-size: 14px;
                  color: #5A6F87;
                  display: block;
              }

              .l-1uumkws-2 {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-flex-wrap: wrap;
                  -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
                  -webkit-box-pack: space-evenly;
                  -webkit-justify-content: space-evenly;
                  -ms-flex-pack: space-evenly;
                  justify-content: space-evenly;
                  margin-bottom: 12px;
                  label: 2;
              }

              .l-5bcc8m {
                  cursor: pointer;
              }

              .l-5bcc8m input {
                  display: none;
              }

              .l-5bcc8m input+div {
                  display: inline-block;
                  min-width: 70px;
                  height: 100%;
                  border: 2px solid transparent;
                  -webkit-text-decoration: none;
                  text-decoration: none;
                  text-align: center;
                  vertical-align: bottom;
                  padding: 5px 5px 5px 5px;
                  border-radius: 5px;
                  color: #5A6F87;
                  font-size: 14px;
              }

              .l-5bcc8m input+div .icon {
                  border-radius: 4px;
                  margin-bottom: 5px;
                  height: 50px;
                  width: 100%;
              }

              .l-5bcc8m input+div .icon.red {
                  background: #de0000;
              }

              .l-5bcc8m input+div .icon.green {
                  background: #00d308;
              }

              .l-5bcc8m input+div .icon.blue {
                  background: #007df0;
              }

              .l-5bcc8m input:checked+div,
              .l-5bcc8m:hover>div {
                  outline: none;
                  border: 2px solid #459BF7;
              }

              .l-o8vj7z {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-flex-direction: column;
                  -ms-flex-direction: column;
                  flex-direction: column;
                  -webkit-box-pack: space-evenly;
                  -webkit-justify-content: space-evenly;
                  -ms-flex-pack: space-evenly;
                  justify-content: space-evenly;
              }

              @media (min-width:479px) {
                  .l-o8vj7z {
                      -webkit-flex-direction: row;
                      -ms-flex-direction: row;
                      flex-direction: row;
                      max-width: 500px;
                      margin: 0 auto;
                      width: 100%;
                  }

                  .l-o8vj7z button,
                  .l-o8vj7z label {
                      width: 100%;
                      margin: 0 8px;
                  }

                  .l-o8vj7z svg {
                      stroke-width: 2.5;
                      width: 18px;
                      height: 18px;
                      margin-right: 10px;
                  }
              }

              .l-15cw7pb-2 {
                  label: 2;
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-align-items: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  -webkit-box-pack: center;
                  -webkit-justify-content: center;
                  -ms-flex-pack: center;
                  justify-content: center;
                  min-height: 40px;
                  border: none;
                  border-radius: 4px;
                  margin: 8px 0;
                  padding: 6px 14px;
                  font-size: 14px;
                  color: #459BF7;
                  -webkit-text-decoration: none;
                  text-decoration: none;
                  text-align: center;
                  text-rendering: optimizeLegibility;
                  -webkit-font-smoothing: antialiased;
                  -moz-osx-font-smoothing: grayscale;
                  font-weight: 600;
                  line-height: 24px;
                  cursor: pointer;
                  background-color: transparent;
                  border: 2px solid #459BF7;
                  transition: background-color 0.1s ease, color 0.1s ease;
              }

              .l-15cw7pb-2:hover,
              .l-15cw7pb-2:active {
                  color: #0972E1;
                  background-color: transparent;
                  border: 2px solid #0972E1;
              }

              @media (max-width:479px) {
                  .l-15cw7pb-2 {
                      display: none;
                  }
              }

              .l-sljsny {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-align-items: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  -webkit-box-pack: center;
                  -webkit-justify-content: center;
                  -ms-flex-pack: center;
                  justify-content: center;
                  min-height: 40px;
                  border: none;
                  border-radius: 4px;
                  margin: 8px 0;
                  padding: 6px 14px;
                  font-size: 14px;
                  color: #FFFFFF;
                  -webkit-text-decoration: none;
                  text-decoration: none;
                  text-align: center;
                  text-rendering: optimizeLegibility;
                  -webkit-font-smoothing: antialiased;
                  -moz-osx-font-smoothing: grayscale;
                  font-weight: 600;
                  line-height: 24px;
                  cursor: pointer;
                  background-color: #459BF7;
                  border: 2px solid transparent;
                  transition: background-color 0.1s ease, color 0.1s ease;
              }

              .l-sljsny:hover,
              .l-sljsny:active {
                  color: #FFFFFF;
                  background-color: #0972E1;
                  border: 2px solid transparent;
              }

              .l-1jhjtzn {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-pack: space-around;
                  -webkit-justify-content: space-around;
                  -ms-flex-pack: space-around;
                  justify-content: space-around;
                  list-style-type: none;
                  border-top: 1px solid #F0F2F5;
                  border-bottom: 1px solid #F0F2F5;
                  padding: 25px 0;
                  margin-top: 0;
                  margin-bottom: 20px;
              }

              @media (max-width:600px) {
                  .l-1jhjtzn {
                      -webkit-flex-direction: column;
                      -ms-flex-direction: column;
                      flex-direction: column;
                  }
              }

              .l-k4g1no {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-align-items: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
              }

              @media (max-width:600px) {
                  .l-k4g1no {
                      margin-bottom: 8px;
                  }
              }

              .l-k4g1no p {
                  margin: 0;
                  margin-left: 13px;
                  color: #5A6F87;
              }

              .l-1rwcu4i {
                  margin-bottom: 32px;
              }

              .l-1rwcu4i [role='tablist'] {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-flex-wrap: wrap;
                  -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
              }

              .l-1rwcu4i [role='tablist'] [role='tab'] {
                  text-align: center;
                  padding: 4px 0;
                  margin-right: 16px;
                  color: #5A6F87;
                  font-size: 17px;
                  cursor: pointer;
              }

              .l-1rwcu4i [role='tablist'] [role='tab'][selected],
              .l-1rwcu4i [role='tablist'] [role='tab'][data-selected] {
                  outline: none;
                  color: #1D232B;
                  border-bottom: 2px solid #459BF7;
                  font-weight: 500;
              }

              .l-1rwcu4i [role='tablist'] [role='tabpanel'] {
                  display: none;
                  width: 100%;
                  -webkit-order: 1;
                  -ms-flex-order: 1;
                  order: 1;
                  padding-top: 16px;
              }

              .l-1rwcu4i [role='tablist'] [role='tab'][selected]+[role='tabpanel'],
              .l-1rwcu4i [role='tablist'] [role='tab'][data-selected]+[role='tabpanel'] {
                  display: block;
              }

              .l-47cdza {
                  color: #5A6F87;
                  font-size: 14px;
                  line-height: 1.6;
                  margin-bottom: 24px;
                  display: block;
              }

              .l-47cdza a {
                  color: #0972E1;
              }

              .l-1lrewpk-2 {
                  label: 2;
              }

              .l-1lrewpk-2 img {
                  max-width: 100%;
              }

              .l-c0xo9 {
                  width: 320px;
                  background-color: #FFFFFF;
                  border-radius: 4px;
                  text-align: left;
                  min-height: 180px;
                  max-height: 300px;
                  padding: 20px;
                  border: 1px solid #F0F2F5;
                  cursor: pointer;
                  -webkit-text-decoration: none;
                  text-decoration: none;
                  vertical-align: top;
                  display: block;
                  width: 100%;
                  min-height: 0;
                  border: none;
                  padding: 0;
                  margin-bottom: 30px;
                  pointer-events: none;
                  background: #FFFFFF;
              }

              @media (max-width:479px) {
                  .l-c0xo9 {
                      width: 295px;
                  }
              }

              .l-c0xo9 .header {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-flex-direction: row;
                  -ms-flex-direction: row;
                  flex-direction: row;
                  -webkit-align-items: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  margin-bottom: 12px;
              }

              .l-c0xo9 .header amp-img:first-of-type,
              .l-c0xo9 .header img:first-of-type {
                  margin-right: 12px;
              }

              .l-c0xo9 .header .last {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-flex-direction: row;
                  -ms-flex-direction: row;
                  flex-direction: row;
                  margin-left: auto;
                  -webkit-align-items: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
              }

              @media (max-width:479px) {
                  .l-c0xo9 .header .last {
                      -webkit-flex-direction: column;
                      -ms-flex-direction: column;
                      flex-direction: column;
                      -webkit-align-items: flex-end;
                      -webkit-box-align: flex-end;
                      -ms-flex-align: flex-end;
                      align-items: flex-end;
                  }
              }

              .l-c0xo9 .header .last amp-img,
              .l-c0xo9 .header .last img {
                  margin-left: 10px;
              }

              .l-c0xo9 .header .handle {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-flex-direction: column;
                  -ms-flex-direction: column;
                  flex-direction: column;
                  max-width: 50%;
              }

              .l-c0xo9 .header .handle span:first-of-type {
                  color: #1D232B;
                  overflow: hidden;
                  text-overflow: ellipsis;
              }

              .l-c0xo9 .header .handle span:last-of-type {
                  color: #5A6F87;
                  font-size: 14px;
              }

              .l-10l2t12-2-2 {
                  position: relative;
                  width: 120px;
                  height: 40px;
                  label: 2;
                  margin-top: -10px;
                  label: 2;
              }

              .l-10l2t12-2-2 span {
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 100%;
                  background-repeat: no-repeat;
                  background-size: cover;
              }

              .l-l3sg5t {
                  white-space: normal;
                  color: #1D232B;
              }

              .l-dg8599 {
                  padding: 24px 0;
              }

              .l-12tsu90 {
                  text-align: center;
                  font-size: 29px;
                  margin-bottom: 32px;
                  color: #1D232B;
              }

              .l-tikki8-2 {
                  display: grid;
                  grid-template-columns: repeat(4, 1fr);
                  -webkit-column-gap: 32px;
                  column-gap: 32px;
                  label: 2;
              }

              @media (max-width:959px) {
                  .l-tikki8-2 {
                      grid-template-columns: repeat(3, 1fr);
                  }
              }

              @media (max-width:600px) {
                  .l-tikki8-2 {
                      grid-template-columns: repeat(2, 1fr);
                      -webkit-column-gap: 16px;
                      column-gap: 16px;
                  }
              }

              .l-1mtjfgl-2 {
                  color: red;
                  text-align: center;
                  -webkit-text-decoration: none;
                  text-decoration: none;
                  text-align: center;
                  font-weight: 500;
                  font-size: 17px;
                  line-height: 1.17;
                  margin-bottom: 5px;
                  width: 100%;
                  height: auto;
                  display: block;
                  label: 2;
              }

              @media (max-width:479px) {
                  .l-1mtjfgl-2 {
                      font-size: 16px;
                  }
              }

              .l-166cjrn-2 {
                  margin-top: 16px;
                  label: 2;
              }

              @media (max-width:479px) {
                  .l-166cjrn-2 {
                      margin-top: 8px;
                  }
              }

              .l-1ylkrd3-2-2 {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-flex-direction: row;
                  -ms-flex-direction: row;
                  flex-direction: row;
                  -webkit-align-items: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  border-radius: 4px;
                  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.10);
                  padding: 3px;
                  background: #459BF7;
                  color: #fff;
                  -webkit-text-decoration: none;
                  text-decoration: none;
                  font-size: 12px;
                  padding: 6px;
                  font-size: 14px;
                  font-weight: 700;
                  label: 2;
                  position: absolute;
                  top: 15px;
                  left: 15px;
                  z-index: 1;
                  label: 2;
              }

              .l-1ylkrd3-2-2 svg {
                  margin-right: 2px;
                  fill: #fff;
              }

              @media (max-width:479px) {
                  .l-1ylkrd3-2-2 {
                      padding: 4px;
                      font-size: 10px;
                  }
              }

              @media (max-width:479px) {
                  .l-1ylkrd3-2-2 {
                      top: 8px;
                      left: 8px;
                  }
              }

              .l-6gq7lv-2-2 {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-flex-direction: row;
                  -ms-flex-direction: row;
                  flex-direction: row;
                  -webkit-align-items: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  border-radius: 4px;
                  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.10);
                  padding: 3px;
                  background: #FFC700;
                  color: #534101;
                  -webkit-text-decoration: none;
                  text-decoration: none;
                  font-size: 12px;
                  padding: 6px;
                  font-size: 14px;
                  font-weight: 700;
                  label: 2;
                  position: absolute;
                  top: 15px;
                  left: 15px;
                  z-index: 1;
                  label: 2;
              }

              .l-6gq7lv-2-2 svg {
                  margin-right: 2px;
                  fill: #534101;
              }

              @media (max-width:479px) {
                  .l-6gq7lv-2-2 {
                      padding: 4px;
                      font-size: 10px;
                  }
              }

              @media (max-width:479px) {
                  .l-6gq7lv-2-2 {
                      top: 8px;
                      left: 8px;
                  }
              }

              .l-8brkfy {
                  color: #0972E1;
                  font-size: 20px;
                  text-align: center;
                  -webkit-text-decoration: underline;
                  text-decoration: underline;
              }

              .l-zpm5i4 {
                  padding-bottom: 32px;
                  padding-top: 32px;
              }

              @media (min-width:479px) {
                  .l-zpm5i4 {
                      padding-bottom: 32px;
                      padding-top: 32px;
                  }
              }

              @media (min-width:959px) {
                  .l-zpm5i4 {
                      padding-bottom: 64px;
                      padding-top: 64px;
                  }
              }

              .l-1niqckn {
                  margin: 0px;
                  padding: 0px;
              }

              .l-1jv1dw7 {
                  margin: 0px;
                  padding: 0px;
                  text-align: left;
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-flex-direction: column;
                  -ms-flex-direction: column;
                  flex-direction: column;
                  -webkit-box-pack: justify;
                  -webkit-justify-content: space-between;
                  -ms-flex-pack: justify;
                  justify-content: space-between;
              }

              @media (min-width:479px) {
                  .l-1jv1dw7 {
                      -webkit-flex-direction: column;
                      -ms-flex-direction: column;
                      flex-direction: column;
                  }
              }

              @media (min-width:959px) {
                  .l-1jv1dw7 {
                      -webkit-flex-direction: column;
                      -ms-flex-direction: column;
                      flex-direction: column;
                  }
              }

              .l-m392jm {
                  margin: 0px;
                  padding: 0px;
                  max-width: 560px;
                  text-align: left;
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-align-items: space-between;
                  -webkit-box-align: space-between;
                  -ms-flex-align: space-between;
                  align-items: space-between;
                  -webkit-flex-direction: column;
                  -ms-flex-direction: column;
                  flex-direction: column;
                  -webkit-box-pack: justify;
                  -webkit-justify-content: space-between;
                  -ms-flex-pack: justify;
                  justify-content: space-between;
              }

              @media (min-width:479px) {
                  .l-m392jm {
                      margin-left: auto;
                      margin-right: auto;
                  }
              }

              @media (min-width:959px) {
                  .l-m392jm {
                      margin-left: auto;
                      margin-right: auto;
                  }
              }

              @media (min-width:479px) {
                  .l-m392jm {
                      text-align: center;
                  }
              }

              @media (min-width:959px) {
                  .l-m392jm {
                      text-align: center;
                  }
              }

              @media (min-width:479px) {
                  .l-m392jm {
                      -webkit-align-items: center;
                      -webkit-box-align: center;
                      -ms-flex-align: center;
                      align-items: center;
                  }
              }

              @media (min-width:959px) {
                  .l-m392jm {
                      -webkit-align-items: center;
                      -webkit-box-align: center;
                      -ms-flex-align: center;
                      align-items: center;
                  }
              }

              @media (min-width:479px) {
                  .l-m392jm {
                      -webkit-box-pack: center;
                      -webkit-justify-content: center;
                      -ms-flex-pack: center;
                      justify-content: center;
                  }
              }

              @media (min-width:959px) {
                  .l-m392jm {
                      -webkit-box-pack: center;
                      -webkit-justify-content: center;
                      -ms-flex-pack: center;
                      justify-content: center;
                  }
              }

              .l-9l9xqk {
                  margin: 0px;
                  padding: 0px;
                  padding-bottom: 64px;
                  padding-top: 16px;
                  width: 100%;
                  text-align: center;
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-align-items: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  -webkit-flex-direction: column;
                  -ms-flex-direction: column;
                  flex-direction: column;
                  -webkit-box-pack: start;
                  -webkit-justify-content: flex-start;
                  -ms-flex-pack: start;
                  justify-content: flex-start;
              }

              .l-1ackb6o {
                  margin: 0px;
                  padding: 0px;
                  max-width: 500px;
                  text-align: center;
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-align-items: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  -webkit-flex-direction: column;
                  -ms-flex-direction: column;
                  flex-direction: column;
                  -webkit-box-pack: start;
                  -webkit-justify-content: flex-start;
                  -ms-flex-pack: start;
                  justify-content: flex-start;
              }

              .l-svt3li-2 {
                  label: 2;
                  margin: 0px;
                  padding: 0px;
                  text-align: left;
                  line-height: 1.5;
                  font-size: 24px;
                  color: #1D232B;
                  color: #1D232B;
              }

              @media (min-width:479px) {
                  .l-svt3li-2 {
                      text-align: center;
                  }
              }

              @media (min-width:959px) {
                  .l-svt3li-2 {
                      text-align: center;
                  }
              }

              @media (min-width:479px) {
                  .l-svt3li-2 {
                      font-size: 32px;
                  }
              }

              @media (min-width:959px) {
                  .l-svt3li-2 {
                      font-size: 32px;
                  }
              }

              .l-1wcp1s4-2 {
                  margin: 0px;
                  padding: 0px;
                  text-align: left;
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-flex-direction: column;
                  -ms-flex-direction: column;
                  flex-direction: column;
                  -webkit-box-pack: justify;
                  -webkit-justify-content: space-between;
                  -ms-flex-pack: justify;
                  justify-content: space-between;
                  width: 100%;
                  -webkit-flex-direction: row;
                  -ms-flex-direction: row;
                  flex-direction: row;
                  margin-bottom: 40px;
                  -webkit-box-pack: start;
                  -webkit-justify-content: start;
                  -ms-flex-pack: start;
                  justify-content: start;
                  label: 2;
              }

              @media (max-width:479px) {
                  .l-1wcp1s4-2 {
                      -webkit-flex-direction: column;
                      -ms-flex-direction: column;
                      flex-direction: column;
                  }
              }

              .l-4zprez-2 {
                  margin: 0px;
                  padding: 0px;
                  text-align: left;
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-flex-direction: column;
                  -ms-flex-direction: column;
                  flex-direction: column;
                  -webkit-box-pack: justify;
                  -webkit-justify-content: space-between;
                  -ms-flex-pack: justify;
                  justify-content: space-between;
                  position: relative;
                  label: 2;
              }

              @media (max-width:479px) {
                  .l-4zprez-2 {
                      width: 100%;
                      display: -webkit-box;
                      display: -webkit-flex;
                      display: -ms-flexbox;
                      display: flex;
                      -webkit-flex-direction: row;
                      -ms-flex-direction: row;
                      flex-direction: row;
                      -webkit-box-pack: center;
                      -webkit-justify-content: center;
                      -ms-flex-pack: center;
                      justify-content: center;
                  }
              }

              .l-w0ctgy {
                  padding-top: 8px;
                  margin-left: 32px;
                  -webkit-align-self: center;
                  -ms-flex-item-align: center;
                  align-self: center;
                  color: #1D232B;
              }

              @media (max-width:479px) {
                  .l-w0ctgy {
                      margin: 8px 24px 0 24px;
                  }
              }

              .l-w0ctgy p {
                  color: #5A6F87;
              }

              .l-1lzdnbh-2 {
                  label: 2;
                  margin: 0px;
                  padding: 0px;
                  line-height: 1.5;
                  font-size: 16px;
                  color: #1D232B;
                  color: #1D232B;
              }

              .l-6b0dd4 {
                  margin-right: 8px;
                  color: #459BF7;
              }

              .l-j4uldl-2 {
                  label: 2;
                  margin-top: 8px;
                  margin-bottom: 8px;
                  padding: 0px;
                  line-height: 1.5;
                  font-size: 14px;
                  color: #5A6F87;
                  color: #5A6F87;
              }

              .l-fv0qma-2 {
                  display: grid;
                  grid-gap: 10px;
                  margin: 32px 0;
                  grid-template-columns: 1fr 1fr;
                  label: 2;
              }

              @media (max-width:959px) {
                  .l-fv0qma-2 {
                      grid-template-columns: 1fr;
                      margin-bottom: 0;
                      margin-left: auto;
                      margin-right: auto;
                  }
              }

              @media (max-width:479px) {
                  .l-fv0qma-2 {
                      margin-left: 24px;
                  }
              }

              .l-15kw5j0-2 {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  text-align: left;
                  margin: 0 0 20px 4px;
                  label: 2;
              }

              .l-15kw5j0-2 div {
                  margin-right: 8px;
              }

              .l-1kwdqwf {
                  float: left;
                  border: 0;
                  border-bottom: 2px solid #F0F2F5;
                  margin: 32px 0;
                  width: 100%;
              }

              .l-1m1xsmm {
                  margin: 0px;
                  padding: 0px;
                  text-align: center;
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-align-items: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  -webkit-flex-direction: column;
                  -ms-flex-direction: column;
                  flex-direction: column;
                  -webkit-box-pack: center;
                  -webkit-justify-content: center;
                  -ms-flex-pack: center;
                  justify-content: center;
              }

              .l-romkb8-2 {
                  label: 2;
                  margin-top: 8px;
                  margin-bottom: 8px;
                  padding: 0px;
                  text-align: center;
                  line-height: 1.5;
                  font-size: 14px;
                  color: #5A6F87;
                  color: #5A6F87;
              }

              .l-a0vwlq {
                  display: inline-block;
                  color: #0972E1;
                  cursor: pointer;
                  -webkit-text-decoration: none;
                  text-decoration: none;
              }

              .l-k6g34m-2-2 {
                  label: 2;
                  margin: 0px;
                  margin-left: 8px;
                  padding: 0px;
                  line-height: 1.5;
                  font-size: 16px;
                  color: #0972E1;
                  color: #0972E1;
                  cursor: pointer;
                  -webkit-text-decoration: underline;
                  text-decoration: underline;
                  label: 2;
              }

              .l-k6g34m-2-2:hover {
                  -webkit-text-decoration: underline;
                  text-decoration: underline;
                  color: #0972E1;
              }

              .l-1jr2f0u-2 {
                  background: #F0F2F5;
                  padding: 32px 0;
                  label: 2;
              }

              .l-qf3abr-2 {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-flex-direction: column;
                  -ms-flex-direction: column;
                  flex-direction: column;
                  width: 100%;
                  max-width: 1170px;
                  -webkit-align-items: space-between;
                  -webkit-box-align: space-between;
                  -ms-flex-align: space-between;
                  align-items: space-between;
                  margin: 0 auto;
                  padding: 0 16px;
                  display: grid;
                  grid-template-columns: minmax(auto, 180px) 1fr;
                  grid-column-gap: 24px;
                  -webkit-flex-direction: row-reverse;
                  -ms-flex-direction: row-reverse;
                  flex-direction: row-reverse;
                  label: 2;
              }

              @media (max-width:959px) {
                  .l-qf3abr-2 {
                      width: calc(100% - 40px);
                      margin: 0 16px;
                      padding: 0 12px;
                  }
              }

              @media (max-width:479px) {
                  .l-qf3abr-2 {
                      width: calc(100% - 24px);
                      margin: 0 12px;
                      padding: 0;
                  }
              }

              @media (max-width:959px) {
                  .l-qf3abr-2 {
                      grid-template-columns: 1fr;
                  }
              }

              .l-mpvvpp {
                  width: 100%;
                  list-style-type: none;
                  padding: 0 8px;
              }

              .l-1klnwrd-2 {
                  margin: 0 0 8px;
                  label: 2;
              }

              .l-jdm6zm-2 {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-pack: justify;
                  -webkit-justify-content: space-between;
                  -ms-flex-pack: justify;
                  justify-content: space-between;
                  -webkit-align-items: center;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  max-width: 180px;
                  label: 2;
              }

              .l-17u25cp-2 {
                  cursor: pointer;
                  background: #354250;
                  padding: 4px;
                  width: 48px;
                  height: 28px;
                  border-radius: 14px;
                  label: 2;
              }

              .l-5e422y-2 {
                  position: absolute;
                  opacity: 0;
                  width: 0;
                  height: 0;
                  label: 2;
              }

              .l-1df3nkt-2 {
                  height: 100%;
                  display: grid;
                  grid-template-columns: 0fr 1fr 1fr;
                  transition: 0.2s;
                  label: 2;
              }

              .l-1df3nkt-2::after {
                  content: '';
                  border-radius: 50%;
                  background: #F0F2F5;
                  grid-column: 2;
                  transition: background 0.2s;
              }

              .l-yxt8nl {
                  margin: 0px;
                  padding: 0px;
                  width: 100%;
                  text-align: left;
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-align-items: space-between;
                  -webkit-box-align: space-between;
                  -ms-flex-align: space-between;
                  align-items: space-between;
                  -webkit-flex-direction: column;
                  -ms-flex-direction: column;
                  flex-direction: column;
                  -webkit-box-pack: justify;
                  -webkit-justify-content: space-between;
                  -ms-flex-pack: justify;
                  justify-content: space-between;
                  display: grid;
                  grid-template-columns: 1fr;
                  grid-column-gap: 8px;
              }

              @media (min-width:479px) {
                  .l-yxt8nl {
                      grid-template-columns: 1fr 1fr;
                  }
              }

              @media (min-width:959px) {
                  .l-yxt8nl {
                      grid-template-columns: 1fr 1fr 1fr;
                  }
              }

              @media (min-width:1170px) {
                  .l-yxt8nl {
                      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                  }
              }

              .l-kkfjuq-2 {
                  padding: 4px 0;
                  label: 2;
              }

              .l-jzy0ak-2 {
                  -webkit-text-decoration: none;
                  text-decoration: none;
                  label: 2;
              }

              .l-lzm8kh-2 {
                  label: 2;
                  margin: 0px;
                  padding: 0px;
                  line-height: 1.5;
                  font-size: 16px;
                  color: #5A6F87;
                  color: #5A6F87;
                  cursor: pointer;
              }

              .l-lzm8kh-2:hover {
                  -webkit-text-decoration: underline;
                  text-decoration: underline;
                  color: #0972E1;
              }