.l-1vm6o2n {
    min-height: 70vh;
    text-align: left;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
}.l-1m0o9iz--3 {
    background: rgb(255, 255, 255);
}.l-lqxlj7 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1170px;
    margin: 0px auto;
    padding: 0px 16px;
}.l-9416li {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 14px 0px;
    overflow: hidden;
}.l-9416li a {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}.l-69i4i0--3 {
    display: flex;
    padding-left: 0px;
}.l-4rgqac {
    color: rgb(249, 250, 251);
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    display: block;
    margin-right: 9px;
    font-weight: 700;
    font-size: 9px;
    text-align: center;
    line-height: 1.7;
    background: rgb(69, 155, 247);
    flex: 0 0 15px;
    border-radius: 50%;
}.l-65muho--3--3 {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.5;
    font-size: 14px;
    color: rgb(69, 155, 247);
    padding: 0px;
}.l-1fxdbvd--3 {
    margin-left: 24px;
}.l-vgezxi {
    color: rgb(249, 250, 251);
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    display: block;
    margin-right: 9px;
    font-weight: 700;
    font-size: 9px;
    text-align: center;
    line-height: 1.7;
    background: rgb(90, 111, 135);
    flex: 0 0 15px;
    border-radius: 50%;
}.l-1scwwsg--3--3 {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.5;
    font-size: 14px;
    color: rgb(90, 111, 135);
    padding: 0px;
}.l-znurzd {
    padding-top: 24px;
    padding-bottom: 30px;
    min-height: calc(100vh - 64px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px inset, rgba(0, 0, 0, 0.06) 0px 1px 4px inset;
    background: rgb(249, 250, 251);
}.l-7uxhm3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1170px;
    margin: 0px auto;
    padding: 0px 16px;
}.l-1pjofmj--3 {
    text-align: center;
    padding: 30px;
}.l-1l6azjt {
    text-align: center;
    color: rgb(29, 35, 43);
    font-size: 26px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 14px;
}.l-1id5s4c {
    display: block;
    text-align: center;
    color: rgb(90, 111, 135);
    margin-bottom: 15px;
}.l-shqhxz--3 {
    display: inline-block;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 40px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
    background-color: rgb(69, 155, 247);
    border-radius: 4px;
    margin: 8px 0px;
    padding: 6px 14px;
    text-decoration: none;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    transition: background-color 0.1s ease 0s, color 0.1s ease 0s;
}
.l-1ii8ot7 {
    margin-left: 24px;
    list-style-type: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    cursor: auto;
}p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}.l-1l6azjt {
    text-align: center;
    color: rgb(29, 35, 43);
    font-size: 26px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 14px;
}.l-shqhxz--3 {
    display: inline-block;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 20px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
    background-color: rgb(69, 155, 247);
    border-radius: 4px;
    margin: 8px 0px;
    padding: 6px 14px;
    text-decoration: none;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    transition: background-color 0.1s ease 0s, color 0.1s ease 0s;
}body {
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    color: rgb(29, 35, 43);
    font-family: bitrefill, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0px;
}.l-1vm6o2n {
    margin: 0px;
    padding: 0px;
    min-height: 70vh;
    text-align: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}