@font-face {
    font-family: 'bitrefill';
    src: url('/static/bitrefill.f966d054.ttf');
    font-display: swap;
}

body {
    box-sizing: border-box;
    margin: 0;
    background-color: #FFFFFF;
    color: #1D232B;
    font-family: bitrefill, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin: 16px 0;
    line-height: 1.1;
}

strong {
    font-weight: 600;
}

button {
    border: 0;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

body * {
    box-sizing: inherit;
}

body[data-modal='true'] {
    overflow: hidden;
}

var {
    font-style: normal;
}

pre {
    margin-top: 0;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.08);
}

.grecaptcha-badge {
    visibility: collapse;
}

.l-1vm6o2n {
    margin: 0px;
    padding: 0px;
    min-height: 70vh;
    text-align: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.l-1t7fvih {
    background-color: #FFFFFF;
}

.l-lqxlj7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    max-width: 1170px;
    -webkit-align-items: space-between;
    -webkit-box-align: space-between;
    -ms-flex-align: space-between;
    align-items: space-between;
    margin: 0 auto;
    padding: 0 16px;
}

@media (max-width:959px) {
    .l-lqxlj7 {
        width: calc(100% - 40px);
        margin: 0 16px;
        padding: 0 12px;
    }
}

@media (max-width:479px) {
    .l-lqxlj7 {
        width: calc(100% - 24px);
        margin: 0 12px;
        padding: 0;
    }
}

.l-9ho4sz {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 12px 0;
    max-width: 1170px;
    width: 100%;
    background-color: #FFFFFF;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (max-width:959px) {
    .l-9ho4sz {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
        padding: 10px 32px;
        margin-bottom: 24px;
    }
}

@media (max-width:479px) {
    .l-9ho4sz {
        padding: 10px 12px;
        margin-bottom: 0;
    }
}

.l-18vfbgj {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
text-decoration:none;
}

@media (max-width:959px) {
    .l-18vfbgj {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
        justify-self: center;
        margin-right: 8px;
    }
}

.l-klig6j-3 {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    label: 3;
}

@media (max-width:959px) {
    .l-klig6j-3 {
        width: auto;
    }
}

.l-a2tilk-3 {
    display: none;
    label: 3;
}

@media (max-width:959px) {
    .l-a2tilk-3:checked~ul {
        -webkit-transform: translateX(280px);
        -ms-transform: translateX(280px);
        transform: translateX(280px);
    }

    .l-a2tilk-3:checked~label:first-of-type {
        opacity: 1;
        visibility: visible;
    }
}

.l-bet8hv-3 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 989;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-out 0s, visibility 200ms ease-out 0s;
    cursor: pointer;
    label: 3;
}

.l-1x2gi9h {
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    color: #5A6F87;
    padding: 12px 12px;
    border-radius: 3px;
}

.l-1x2gi9h:hover {
    background-color: #F0F2F5;
}

@media (min-width:959px) {
    .l-1x2gi9h {
        display: none;
    }
}

@media (max-width:479px) {
    .l-1x2gi9h span {
        display: none;
    }
}

.l-1uc3g14 {
    position: relative;
    width: 25px;
    height: 17px;
    opacity: 0.8;
}

.l-1uc3g14 span {
    position: absolute;
    left: 0;
    display: block;
    width: 25px;
    height: 3px;
    background-color: #5A6F87;
    opacity: 1;
}

.l-1uc3g14 span:nth-of-type(1) {
    top: 0;
}

.l-1uc3g14 span:nth-of-type(2) {
    top: 8px;
}

.l-1uc3g14 span:nth-of-type(3) {
    top: 16px;
}

.l-brqscu-3 {
    margin-left: 8px;
    label: 3;
}

.l-2ck3p5 {
    list-style-type: none;
    margin-left: auto;
    transition: transform 300ms cubic-bezier(0, 0.715, 0.345, 1);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

@media (max-width:959px) {
    .l-2ck3p5 {
        display: block;
        position: fixed;
        right: 100vw;
        top: 0;
        bottom: 0;
        left: auto;
        width: 280px;
        background: #F0F2F5;
        z-index: 990;
        padding-top: 36px;
        padding: 0;
        overflow-y: auto;
    }
}

.l-6lfw9q {
    position: absolute;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-size: 32px;
    line-height: 1;
    padding: 0 6px 6px 6px;
    color: #1D232B;
}

@media (min-width:959px) {
    .l-6lfw9q {
        display: none;
    }
}

.l-9qo9k4-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    label: 3;
}

@media (max-width:959px) {
    .l-9qo9k4-3 {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.l-ihvqmn-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    label: 3;
}

@media (max-width:959px) {
    .l-ihvqmn-3 {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.l-1cyq5nx-3 {
    font-weight: 700;
    font-size: 20px;
    padding: 12px 24px;
    label: 3;
}

@media (min-width:959px) {
    .l-1cyq5nx-3 {
        display: none;
    }
}

.l-1vcr3xk {
    font-size: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #5A6F87;
    -webkit-text-decoration: none;
    text-decoration: none;
    border-radius: 4px;
    margin: 0;
    cursor: pointer;
}

.l-1vcr3xk:hover,
.l-1vcr3xk:focus {
    background-color: #F0F2F5;
}

@media (max-width:959px) {
    .l-1vcr3xk {
        padding-left: 28px;
    }
}

@media (min-width:959px) {
    .l-1vcr3xk {
        margin-left: 8px;
    }

    .l-1vcr3xk.btn {
        border-radius: 4px;
        background: #F0F2F5;
        color: #5A6F87;
        font-size: 16px;
        border: 1px solid #A3B2C2;
    }

    .l-1vcr3xk.btn:hover {
        background: #FFFFFF;
    }
}

.l-1vcr3xk>a,
.l-1vcr3xk .navitem {
    cursor: pointer;
    font-size: 16px;
    background: none;
    color: #5A6F87;
    display: block;
    -webkit-text-decoration: none;
    text-decoration: none;
    padding: 8px 16px;
    line-height: 1.5;
}

@media (max-width:959px) {

    .l-1vcr3xk>a,
    .l-1vcr3xk .navitem {
        padding: 8px 0;
        width: 100%;
    }
}

.l-zwykwp-3 {
    font-size: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #5A6F87;
    -webkit-text-decoration: none;
    text-decoration: none;
    border-radius: 4px;
    margin: 0;
    cursor: pointer;
    label: 3;
}

.l-zwykwp-3:hover,
.l-zwykwp-3:focus {
    background-color: #F0F2F5;
}

@media (max-width:959px) {
    .l-zwykwp-3 {
        padding-left: 28px;
    }
}

@media (min-width:959px) {
    .l-zwykwp-3 {
        margin-left: 8px;
    }

    .l-zwykwp-3.btn {
        border-radius: 4px;
        background: #F0F2F5;
        color: #5A6F87;
        font-size: 16px;
        border: 1px solid #A3B2C2;
    }

    .l-zwykwp-3.btn:hover {
        background: #FFFFFF;
    }
}

.l-zwykwp-3>a,
.l-zwykwp-3 .navitem {
    cursor: pointer;
    font-size: 16px;
    background: none;
    color: #5A6F87;
    display: block;
    -webkit-text-decoration: none;
    text-decoration: none;
    padding: 8px 16px;
    line-height: 1.5;
}

@media (max-width:959px) {

    .l-zwykwp-3>a,
    .l-zwykwp-3 .navitem {
        padding: 8px 0;
        width: 100%;
    }
}

@media (min-width:959px) {
    .l-zwykwp-3 {
        display: none;
    }
}

.l-ks9thb {
    font-size: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #5A6F87;
    -webkit-text-decoration: none;
    text-decoration: none;
    border-radius: 4px;
    margin: 0;
    cursor: pointer;
    position: relative;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    padding: 0 13px;
    justify-self: flex-end;
    outline: none;
}

.l-ks9thb:hover,
.l-ks9thb:focus {
    background-color: #F0F2F5;
}

@media (max-width:959px) {
    .l-ks9thb {
        padding-left: 28px;
    }
}

@media (min-width:959px) {
    .l-ks9thb {
        margin-left: 8px;
    }

    .l-ks9thb.btn {
        border-radius: 4px;
        background: #F0F2F5;
        color: #5A6F87;
        font-size: 16px;
        border: 1px solid #A3B2C2;
    }

    .l-ks9thb.btn:hover {
        background: #FFFFFF;
    }
}

.l-ks9thb>a,
.l-ks9thb .navitem {
    cursor: pointer;
    font-size: 16px;
    background: none;
    color: #5A6F87;
    display: block;
    -webkit-text-decoration: none;
    text-decoration: none;
    padding: 8px 16px;
    line-height: 1.5;
}

@media (max-width:959px) {

    .l-ks9thb>a,
    .l-ks9thb .navitem {
        padding: 8px 0;
        width: 100%;
    }
}

@media (min-width:959px) {
    .l-ks9thb {
        margin-left: 13px;
    }
}

@media (max-width:959px) {
    .l-ks9thb {
        padding-left: 8px;
    }
}

.l-7vooej {
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;  
    position: relative;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: rgb(90, 111, 135);
    border-radius: 3px;
    line-height: 1.5;
    width: 100%;
    height: 100%;
}

.l-1rydqmw-3 {
    padding-left: 9px;
    label: 3;
}

@media (max-width:959px) {
    .l-1rydqmw-3 {
        display: none;
    }
}

.l-1euv9up-3 {
    display: none;
    label: 3;
}

@media (max-width:959px) {
    .l-1euv9up-3 {
        display: block;
        height: 64px;
        width: 100%;
    }
}

.l-znurzd {
    padding-top: 24px;
    padding-bottom: 30px;
    background: #F9FAFB;
    min-height: calc(100vh - 64px);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.10), inset 0 1px 4px rgba(0, 0, 0, 0.06);
}

@media (max-width:479px) {
    .l-znurzd {
        padding-top: 12px;
    }
}

.l-jzl04s-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    max-height: 600px;
    label: 3;
}

.l-i3fr2e {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 80vh;
    min-height: 100px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.l-1mjy2eb {
    display: inline-block;
    -webkit-animation-name: anim-spinner;
    animation-name: anim-spinner;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes anim-spinner {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes anim-spinner {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.l-1mjy2eb * {
    box-sizing: border-box;
}

.l-1u472ox {
    width: 2em;
    height: 1em;
    overflow: hidden;
}
.l-u33a9r-2 {
    position: absolute;
    top: calc(100% + 6px);
    right: 0px;
    width: 341px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 6px, rgba(0, 0, 0, 0.12) 0px 2px 4px;
    z-index: 999;
    border-radius: 4px;
    background: rgb(255, 255, 255);
}
.l-67sgjt {
    position: fixed;
    width: 100vw;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 989;
    background-color: rgba(0, 0, 0, 0.2);
}

.l-1lkkp44 {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 50%;
    border: 0.25em solid #459BF7;
    border-right: 0.25em solid transparent;
    border-bottom: 0.25em solid transparent;
    width: 100%;
    height: 200%;
    -webkit-animation-name: anim-circle-1;
    animation-name: anim-circle-1;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: cubic-bezier(0.25, 0.1, 0.5, 1);
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.5, 1);
}

@-webkit-keyframes anim-circle-1 {
    from {
        -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        transform: rotate(60deg);
    }

    to {
        -webkit-transform: rotate(205deg);
        -ms-transform: rotate(205deg);
        transform: rotate(205deg);
    }
}

@keyframes anim-circle-1 {
    from {
        -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        transform: rotate(60deg);
    }

    to {
        -webkit-transform: rotate(205deg);
        -ms-transform: rotate(205deg);
        transform: rotate(205deg);
    }
}

@-webkit-keyframes anim-circle-2 {
    from {
        -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        transform: rotate(30deg);
    }

    to {
        -webkit-transform: rotate(-115deg);
        -ms-transform: rotate(-115deg);
        transform: rotate(-115deg);
    }
}

@keyframes anim-circle-2 {
    from {
        -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        transform: rotate(30deg);
    }

    to {
        -webkit-transform: rotate(-115deg);
        -ms-transform: rotate(-115deg);
        transform: rotate(-115deg);
    }
}

.l-wscd2n {
    width: 2em;
    height: 1em;
    overflow: hidden;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.l-urbu9s {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 50%;
    border: 0.25em solid #459BF7;
    border-right: 0.25em solid transparent;
    border-bottom: 0.25em solid transparent;
    width: 100%;
    height: 200%;
    -webkit-animation-name: anim-circle-2;
    animation-name: anim-circle-2;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: cubic-bezier(0.25, 0.1, 0.5, 1);
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.5, 1);
}

@-webkit-keyframes anim-circle-1 {
    from {
        -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        transform: rotate(60deg);
    }

    to {
        -webkit-transform: rotate(205deg);
        -ms-transform: rotate(205deg);
        transform: rotate(205deg);
    }
}

@keyframes anim-circle-1 {
    from {
        -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        transform: rotate(60deg);
    }

    to {
        -webkit-transform: rotate(205deg);
        -ms-transform: rotate(205deg);
        transform: rotate(205deg);
    }
}

@-webkit-keyframes anim-circle-2 {
    from {
        -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        transform: rotate(30deg);
    }

    to {
        -webkit-transform: rotate(-115deg);
        -ms-transform: rotate(-115deg);
        transform: rotate(-115deg);
    }
}

@keyframes anim-circle-2 {
    from {
        -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        transform: rotate(30deg);
    }

    to {
        -webkit-transform: rotate(-115deg);
        -ms-transform: rotate(-115deg);
        transform: rotate(-115deg);
    }
}

.l-13i1ne9-3 {
    background: #F0F2F5;
    padding: 32px 0;
    label: 3;
}

.l-y7v3r5-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    max-width: 1170px;
    -webkit-align-items: space-between;
    -webkit-box-align: space-between;
    -ms-flex-align: space-between;
    align-items: space-between;
    margin: 0 auto;
    padding: 0 16px;
    display: grid;
    grid-template-columns: minmax(auto, 180px) 1fr;
    grid-column-gap: 24px;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    label: 3;
}
.gayab{
    display: none !important;
  }
  .l-17ye3fu-2 {
    padding: 30px;
}
.l-x0qlry-2 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 40px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
    background-color: rgb(69, 155, 247);
    border-radius: 4px;
    margin: 8px 0px;
    padding: 6px 14px;
    text-decoration: none;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    transition: background-color 0.1s ease 0s, color 0.1s ease 0s;
}
.l-1m1xsmm {
    text-align: center;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}
.l-10b1ual {
    text-align: center;
    color: rgb(29, 35, 43);
    font-size: 22px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 8px;
}
.l-bpj52k {
    display: block;
    text-align: center;
    color: rgb(90, 111, 135);
}
@media (max-width:959px) {
    .l-y7v3r5-3 {
        width: calc(100% - 40px);
        margin: 0 16px;
        padding: 0 12px;
    }
}

@media (max-width:479px) {
    .l-y7v3r5-3 {
        width: calc(100% - 24px);
        margin: 0 12px;
        padding: 0;
    }
}

@media (max-width:959px) {
    .l-y7v3r5-3 {
        grid-template-columns: 1fr;
    }
}

.l-mpvvpp {
    width: 100%;
    list-style-type: none;
    padding: 0 8px;
}

.l-fvcgq0-3 {
    margin: 0 0 8px;
    label: 3;
}

.l-1721hks-3 {
    label: 3;
    margin: 0px;
    padding: 0px;
    line-height: 1.5;
    font-size: 16px;
    color: #1D232B;
    color: #1D232B;
}

.l-1n17jro-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 180px;
    label: 3;
}

.l-198arcc-3 {
    label: 3;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0px;
    line-height: 1.5;
    font-size: 14px;
    color: #5A6F87;
    color: #5A6F87;
}

.l-1e2tb1-3 {
    cursor: pointer;
    background: #354250;
    padding: 4px;
    width: 48px;
    height: 28px;
    border-radius: 14px;
    label: 3;
}

.l-101a0tq-3 {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    label: 3;
}

.l-2q1uu1-3 {
    height: 100%;
    display: grid;
    grid-template-columns: 0fr 1fr 1fr;
    transition: 0.2s;
    label: 3;
}

.l-2q1uu1-3::after {
    content: '';
    border-radius: 50%;
    background: #F0F2F5;
    grid-column: 2;
    transition: background 0.2s;
}

.l-yxt8nl {
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: space-between;
    -webkit-box-align: space-between;
    -ms-flex-align: space-between;
    align-items: space-between;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 8px;
}

@media (min-width:479px) {
    .l-yxt8nl {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:959px) {
    .l-yxt8nl {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width:1170px) {
    .l-yxt8nl {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

.l-1lf4b5c-3 {
    padding: 4px 0;
    label: 3;
}

.l-ql62hs-3 {
    -webkit-text-decoration: none;
    text-decoration: none;
    label: 3;
}

.l-1fg8nw-3 {
    label: 3;
    margin: 0px;
    padding: 0px;
    line-height: 1.5;
    font-size: 16px;
    color: #5A6F87;
    color: #5A6F87;
    cursor: pointer;
}

.l-1fg8nw-3:hover {
    -webkit-text-decoration: underline;
    text-decoration: underline;
    color: #0972E1;
}
.l-1be3reo .carousel.carousel-slider {
    position: relative;
    margin: 0px;
    overflow: hidden;
}

.l-1be3reo .carousel {
    position: relative;
    width: 100%;
}
.l-1be3reo .carousel.carousel-slider .control-arrow {
    top: 0px;
    color: rgb(255, 255, 255);
    font-size: 26px;
    bottom: 0px;
    margin-top: 0px;
    padding: 5px;
}

.l-1be3reo .carousel .control-prev.control-arrow {
    left: 0px;
}

.l-1be3reo .carousel .control-next.control-arrow {
    right: 0px;
}

.l-1be3reo .carousel .control-disabled.control-arrow {
    opacity: 0;
    cursor: inherit;
    display: none;
}

.l-1be3reo .carousel .control-arrow, .l-1be3reo .carousel.carousel-slider .control-arrow {
    opacity: 0.4;
    position: absolute;
    z-index: 2;
    top: 20px;
    font-size: 32px;
    cursor: pointer;
    transition: all 0.25s ease-in 0s;
    background: none;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}
body {
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    color: rgb(29, 35, 43);
    font-family: bitrefill, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0px;
}
.l-1be3reo .carousel .control-arrow {
    top: 50%;
    margin-top: -13px;
    font-size: 18px;
    outline: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    background: none;
}

.l-1be3reo .carousel * {
    box-sizing: border-box;
}
button {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(buttontext, rgb(170, 170, 170));
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark-color(rgb(239, 239, 239), rgb(74, 74, 74));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
    border-radius: 2px;
}
.l-1be3reo .carousel .slider-wrapper {
    width: 100%;
    overflow: hidden;
    margin: auto;
    transition: height 0.15s ease-in 0s;
}
.l-1be3reo .carousel .slider-wrapper.axis-horizontal .slider {
    display: flex;
}
.l-1be3reo .carousel .slider.animated {
    transition: all 0.35s ease-in-out 0s !important;
}
.l-1be3reo .carousel .slider {
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.l-1be3reo .carousel .slider-wrapper.axis-horizontal .slider .slide {
    flex-flow: column;
}

.l-1be3reo .carousel .slide {
    min-width: 100%;
    position: relative;
    text-align: left;
    margin: 0px;
    background: rgb(0, 0, 0);
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
@media (min-width: 960px){

.l-1be3reo .carousel .control-dots {
    bottom: 0px;
}
}

.l-1be3reo .carousel .control-dots {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    margin: 10px 0px;
}
.l-1be3reo .carousel .control-dots .dot {
    opacity: 0.3;
    box-shadow: rgba(0, 0, 0, 0.9) 1px 1px 2px;
    width: 8px;
    height: 8px;
    cursor: pointer;
    display: inline-block;
    transition: opacity 0.25s ease-in 0s;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 0px 8px;
}
.l-1be3reo .carousel .control-dots .dot.selected, .l-1be3reo .carousel .control-dots .dot:hover {
    opacity: 1;
}
.l-101use2 {
    height: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: rgb(0, 166, 46); */
    text-decoration: none;

}

.l-lqxlj7 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1170px;
    margin: 0px auto;
    padding: 0px 16px;
}
.l-iigu7d {
    height: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: rgb(195, 132, 1); */
    text-decoration: none;
}
@media (min-width: 479px)
{
.l-8e1aqe {
    
    background-size: contain;
    min-height: 230px;
    background-repeat: no-repeat;
    background-position: right center;
}}
.l-8e1aqe {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    /* background-color: rgb(0, 166, 46); */
    color: white;
}
@media (min-width: 479px)
{
.l-12hu1ls {
    
    background-size: contain;
    min-height: 230px;
    background-repeat: no-repeat;
    background-position: right center;
}
}
.l-12hu1ls {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    /* background-color: rgb(195, 132, 1); */
    color: white;
}
.l-u8d87p-3 {
    width: 70%;
}
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.1;
    margin: 16px 0px;
}

.transition{
    transform: translate3d(-100%, 0px, 0px); 
    
    
    animation: 15s trans infinite ;
}
@keyframes trans{
    0%{
        animation-delay: 5s;
        transform: translate3d(-100%, 0px, 0px); 
    }
    25%{
        animation-delay: 5s;
        transition-duration: 350ms;
        transform: translate3d(-100%, 0px, 0px); 
    }
    50%{
        animation-delay: 10s;
        transform: translate3d(-200%, 0px, 0px);
    }
    75%{
        animation-delay: 10s;
        transform: translate3d(-200%, 0px, 0px);
    }
    100%{
        animation-delay: 10s;
        transition-duration: 350ms;
        transform: translate3d(-300%, 0px, 0px);
    }
}
.l-lqxlj7 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1170px;
    margin: 0px auto;
    padding: 0px 16px;
}
.l-1vm6o2n {
    min-height: 70vh;
    text-align: left;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
}
.l-d6m5lc {
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 3px, rgba(0, 0, 0, 0.1) 0px 1px 2px;
    position: relative;
    padding-bottom: 68%;
    border-radius: 8px;
    transition: transform 150ms ease-out 0s;
}
.l-d6m5lc:hover {
    transform: translateY(-3px);
}
.l-nfokyf-3 {
    margin-top: 16px;
}
.l-1vm6o2n {
    margin: 0px;
    padding: 0px;
    min-height: 70vh;
    text-align: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.l-h528vh {
    list-style-type: none;
    width: 235px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 3px 0px;
    padding: 2px 0px 0px;
    margin: 0px 0px 12px;
    background: rgb(255, 255, 255);
    border-radius: 3px;
}
.l-1k3m6oj-3 {
    font-weight: 500;
    font-size: 18px;
    padding: 12px;
    margin: 0px;
}
.l-h3lxuk-3 {
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    display: flex;
    box-shadow: none;
    border-radius: 6px;
    background: rgb(255, 255, 255);
}
.l-1wg98qd, .l-1wg98qd ul {
    list-style-type: none;
    padding: 0px;
}

.l-1wg98qd {
    min-width: 236px;
}
.l-h528vh .separator {
    border-bottom: 1px solid rgb(240, 242, 245);
}

.l-1k3m6oj-3 {
    font-weight: 500;
    font-size: 18px;
    padding: 12px;
    margin: 0px;

}
.l-1wg98qd [data-selected] {
    background-color: rgb(220, 237, 255);
    color: rgb(9, 114, 225);
    font-weight: 500;
}
.l-krszde {
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    color: rgb(29, 35, 43);
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 4px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
.l-13ypejg {
     border-width: 0px !important;
    display: flex;
    position: relative;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    font-size: 16px;
    background-color: transparent;
    white-space: nowrap;
    cursor: pointer;
    text-overflow: ellipsis;
    color: rgb(29, 35, 43);
}
.l-1ba8w0v-3 {
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    position: absolute !important;
}
.l-h3lxuk-3 {
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    display: flex;
    box-shadow: none;
    border-radius: 6px;
    background: rgb(255, 255, 255);
}
.l-krszde {
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    color: rgb(29, 35, 43);
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 4px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
.l-1wg98qd a {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    color: rgb(29, 35, 43);
    padding: 12px;
    text-decoration: none;
}
@media (min-width: 1170px)
{
.l-rkk3yt-3 {
    margin-left: 12px;
}
}
.l-rkk3yt-3 {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
@media (min-width: 870px)
{
.l-17ytp44-3 {
    padding: 2px 16px 16px !important;
}}

.l-17ytp44-3 {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 2px 8px 8px;
}
.l-17ytp44-3 h1 {
    font-size: 28px;
    padding-bottom: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0px 8px 0px 0px;
    overflow: hidden;
}
.l-txnus3-3 svg {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    pointer-events: none;
}
@media (min-width: 479px)
{
.l-txnus3-3 {
    margin-right: 15px;
}
}
@media (min-width: 959px)
{
.l-txnus3-3 {
    display: none;
}
}
@media (min-width: 870px)
{
.l-txnus3-3 {
    flex: 1 1 0%;
}
}

.l-txnus3-3 {
    position: relative;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 3px, rgba(0, 0, 0, 0.1) 0px 1px 2px;
    border-radius: 6px;
    background: rgb(255, 255, 255);
}
.l-ys9l5x-3 span {
    display: block;
    margin-right: 8px;
}
.l-ys9l5x-3 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    flex-shrink: 0;
}
.l-1no35ab-3 {
    display: flex;
}
.l-g2plgu {
    position: relative;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 3px, rgba(0, 0, 0, 0.1) 0px 1px 2px;
    margin-right: 15px;
    border-radius: 6px;
    background: rgb(255, 255, 255);
}
.l-g2plgu select {
    padding-right: 39px;
    background-color: rgb(240, 242, 245);
    box-shadow: none;
}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.l-g2plgu select {
    -webkit-appearance: none;
    cursor: pointer;
    font-size: 16px;
    height: 44px;
    color: rgb(29, 35, 43);
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 6px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    margin: 0px;
    overflow: hidden;
    padding: 2px 16px;
}
select {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    cursor: default;
    font: 400 13.3333px Arial;
}
.l-g2plgu svg {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    pointer-events: none;
}
.l-19xyj85 {
    position: relative;
}
.l-u2cjbk {
    width: 100%;
    font-size: 16px;
    color: rgb(53, 66, 80);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 3px, rgba(0, 0, 0, 0.1) 0px 1px 2px;
    padding: 12px 12px 12px 40px;
    border-radius: 5px;
    background: rgb(240, 242, 245);
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
.l-19xyj85 svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    stroke: rgb(90, 111, 135);
}
.l-7ow0xr-3 {
    display: flex;
    flex-direction: row;
    width: 100%;
}
@media (min-width: 479px)
{
.l-1fixbxz-3 {
    margin-right: 15px;
}
}
@media (min-width: 959px)
{
.l-1fixbxz-3 {
    display: none;
}
}
@media (min-width: 870px)
{
.l-1fixbxz-3 {
    flex: 1 1 0%;
}
}
.l-eh9u44-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}
.l-13vjo0e-3-3 {
    color: red;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.17;
    margin-bottom: 5px;
    height: auto;
    display: block;
    width: 33.33%;
    text-decoration: none;
    padding: 16px 16px 0px;
}
a:-webkit-any-link {
    
    cursor: pointer;
    text-decoration: none;
}
.l-xyawq0-3-3[data-fill="true"] {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.l-1vcr3xk > a, .l-1vcr3xk .navitem {
    cursor: pointer;
    font-size: 16px;
    color: rgb(90, 111, 135);
    display: block;
    line-height: 1.5;
    background: none;
    text-decoration: none;
    padding: 8px 16px;
}
.l-9ho4sz {
    display: flex;
    max-width: 1170px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 12px 0px;
}
.l-xyawq0-3-3 img {
    object-fit: contain;
}
.l-1i8g1yg-3-3 {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 3px, rgba(0, 0, 0, 0.1) 0px 1px 2px;
    color: rgb(83, 65, 1);
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1;
    border-radius: 4px;
    background: rgb(255, 199, 0);
    text-decoration: none;
    padding: 6px;
}
.l-1i8g1yg-3-3 svg {
    margin-right: 2px;
    fill: rgb(83, 65, 1);
}
.l-1uv64rf-3 {
    height: 100%;
    max-width: 100%;
}
.l-2ck3p5 {
    list-style-type: none;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    transition: transform 300ms cubic-bezier(0, 0.715, 0.345, 1) 0s;
    margin: 0px;
}

.l-lqxlj7 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1170px;
    margin: 0px auto;
    padding: 0px 16px;
}

.l-xyawq0-3-3 {
    position: absolute;
    top: 24px;
    right: 24px;
    bottom: 24px;
    left: 24px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.l-xyawq0-3-3[data-fill="true"] img, .l-xyawq0-3-3[data-fill="true"] amp-img {
    object-fit: fill;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.l-xyawq0-3-3 img {
    object-fit: contain;
}
.l-1uv64rf-3 {
    height: 100%;
    max-width: 100%;

}
.l-7f0b15-3-3 {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 3px, rgba(0, 0, 0, 0.1) 0px 1px 2px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1;
    border-radius: 4px;
    background: rgb(69, 155, 247);
    text-decoration: none;
    padding: 6px;
}
.l-1wg98qd [data-selected] {
    background-color: rgb(220, 237, 255);
    color: rgb(9, 114, 225);
    font-weight: 500;
}
.l-1wg98qd a {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    color: rgb(29, 35, 43);
    padding: 12px;
    text-decoration: none;
}
.l-1wg98qd a {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    color: rgb(29, 35, 43);
    padding: 12px;
    text-decoration: none;
}
}

@media (min-width: 1170px)
{
.l-rkk3yt-3 {
    margin-left: 12px;
}
}
.l-rkk3yt-3 {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}